@using WebHome.Helper
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Beyond Fitness | 專業與科學化的私人教練">
    <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <title>Beyond Fitness | 專業與科學化的私人教練</title>
    <!-- Favicon-->
    <link rel="icon" href="favicons/favicon_96x96.png">
    <!-- Specifying a Webpage Icon for Web Clip -->
    <link rel="apple-touch-icon-precomposed" href="favicons/favicon_57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicons/favicon_72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicons/favicon_114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicons/favicon_144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="favicons/favicon_180x180.png">
    <!-- IE可能不見得有效 -->
    <meta HTTP-EQUIV="EXPIRES" CONTENT="0">
    <!-- 設定成馬上就過期 -->
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Magnific Popup -->
    <link href="css/main-landing.css?1.0" type="text/css" rel="stylesheet">
</head>

<body>
    <!-- //Main Nav -->
    <header id="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12 text-center">
                    <a href="@(VirtualPathUtility.ToAbsolute("~/ConsoleHome/Index"))" class="logo"><img src="images/logo.png" alt="BeyondFitness"></a>
                </div>
            </div>
        </div>
    </header>
    <!-- // Banner -->
    <section class="section-header small">
        <div class="container">
            <div class="row">
                <!-- iPhone -->
                <img class="header_iphone" src="images/error.png" alt="BeyondFitness">
                <!-- //iPhone -->
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1>Oooops, Something went wrong!</h1>
                    <h2>You have experienced a technical error. We apologize.<small></small></h2>
                    <p>We are working hard to correct this issue. Please wait a few moments and try your search again.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- // Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>