
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers

@foreach (var item in _items)
    {
<option value="@(item.UID)">@(item.RealName)</option>
}

<script runat="server">

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    IQueryable<UserProfile> _items;

    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);
        _modelState = (ModelStateDictionary)ViewBag.ModelState;
        models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;

        _items = models.GetTable<UserProfile>()
            .Join(models.GetTable<UserRole>()
                    .Where(r=>r.RoleID==(int)Naming.RoleID.Accounting
                        || r.RoleID==(int)Naming.RoleID.Administrator
                        || r.RoleID==(int)Naming.RoleID.Assistant
                        || r.RoleID==(int)Naming.RoleID.Coach
                        || r.RoleID==(int)Naming.RoleID.Manager
                        || r.RoleID==(int)Naming.RoleID.Officer
                        || r.RoleID==(int)Naming.RoleID.ViceManager),
                u => u.UID, r => r.UID, (u, r) => u);
    }

</script>
