@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json

@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _modelState = ViewContext.ModelState;

    Layout = "~/Views/MainActivity/Template/BlogPage.cshtml";

}

@section CustomHeader {
<style type="text/css">
    ol {
        padding: 0 0 0 15px;
        margin: 0;
        list-style-type: decimal;
        list-style-position: outside;
    }

    ol li li {
        padding: 0 0 0 5px;
    }

    ol li {
        counter-increment: nested;
        margin-left: 12px;
    }

    ol li::before {
        font-weight: bold;
        margin-left: -18px;
    }

    li li::before {
        content: counters(nested, ".") " ";
        /* font-weight: normal; */
    }

    ol ol {
        padding-left: 0px;
        counter-reset: nested;
        list-style-type: none;
        list-style-position: outside;
    }
</style>
}

<!-- Main Content -->
<section class="section-blog dark">
    <div class="container blog-single">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="m-b-0">Beyond Fitness產品及服務特約條款</h3>
                                <b>本合約業經體育局府體產字第1113003319號公文審定通過</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                本場館為超越體能顧問有限公司(以下簡稱「本公司」或「BF」)所提供經營管理並提供各項體能/健康顧問服務，本公司之代表人為黃政浩，本公司之其他資訊如下：
                                <ol>
                                    <li>電話：(02)27152733</li>
                                    <li>電子郵件：info@beyond-fitness.com.tw</li>
                                    <li>服務網址：https://www.beyond-fitness.com.tw/</li>
                                    <li>公司登記地址：台北市松山區南京東路四段17號地下一樓</li>
                                    <li>營業登記證字號：10653882400</li>
                                </ol>
                            </div>
                            <div class="col-12 p-t-10">
                                <b>電子文件之效力</b><br />
                                本公司與學員之間同意以電子文件為表示方法，依本合約交換之電子文件，如其內容可完整呈現且可於日後取出供查驗者，其效力與書面文件相同。但依法令有強制規定排除適用者，不在此限。上述電子文件係以文字、聲音、影片、圖像、符號或其他資料，以電子之方式所製成足以表達意思表示之紀錄，而提供作電子處理者。本公司將記錄相關電子文件資料，如您發現提供之資訊有誤之情形，應立即通知本公司。
                            </div>
                            <div class="col-12 p-t-10">
                                <b>電子簽章之效力</b><br />
                                本公司服務項目之所有合約係採電子文件，依電子簽章法相關規範。<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;學員於使用本公司服務前，應詳細閱讀本合約及其他BEYOND FITNESS雲端學員管理系統及官方網站公布之服務相關條款，並有至少 3 日之審閱期。<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;學員瞭解，學員於本公司網站或APP系統中勾選「我已閱讀並同意超越體能顧問有限公司隱私政策、服務條款、相關使用及消費合約」之選項之前，或於此文案後繼續點擊進行下一步驟時，學員先需於合理審閱期間內，詳閱本合約書的所有條款。<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;學員願意完全遵守本合約書與使用本公司系統、其產品及服務相關之管理規章、規則；若學員無法遵守BEYOND
                                FITNESS雲端學員管理系統、本公司服務、其產品及服務條款內容、或對條款內容全部或部分不同意時，學員請勿使用本公司相關服務。
                            </div>
                            <div class="col-12 p-t-10">
                                <b>合約之構成</b><br />
                                本合約包含體能/健康顧問服務之條款、附約、同意書、調查表、平台隱私權條款及蒐集、處理及利用個人資料告知事項暨同意書等，均構成本合約一部分，與本合約有同一效力。
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 p-t-10">
                                <ol>
                                    <li>
                                        <b>文件之合意</b>
                                        <ol>
                                            <li>
                                                學員為未滿18歲(申請入會者(未成年)，應保證其已得法定代理人之允許或承認，且其法定代理人已詳閱並瞭解本合約規範及本公司公告於官網及BEYOND
                                                FITNESS系統之法定代理人同意書之所有內容，如因本合約所生之爭議，其應自負相關法律責任。
                                            </li>
                                            <li>
                                                學員幫未成年購買產品服務前，應保證其已詳閱並瞭解本合約規範及本公司公告於官網及BEYOND
                                                FITNESS系統之法定代理人同意書之所有內容，如因本合約所生之爭議，其應自負相關法律責任。
                                            </li>
                                            <li>
                                                學員於BEYOND FITNESS系統應詳閱本合約書後勾選「我已閱讀並同意BEYOND
                                                FITNESS隱私政策、服務條款、相關使用及消費合約」之選項或於此文案後繼續點擊進行下一步驟時，視同簽章，並提交相關個人身分鑑別資料，包括姓名、生日、電話、身分證字號或護照號碼、證件照片、住址、簽名資料等。
                                            </li>
                                            <li>
                                                學員應於購買合約時確認學員所提供之資料真實、完整、有效，並確認已自行諮詢醫師，保證其身體狀況適於從事本公司所提供之產品或服務，並明白從事體育活動之風險。如因學員未提供真實、完整、有效之身體健康聲明，致使其於從事本公司依據學員所提供之健康聲明所規劃之課程內容中有不適、受傷及其他損害者，學員應自行負責。如身體狀態有變化者，學員亦應及時向本公司要求更新
                                            </li>
                                            <li>學員登入BEYOND
                                                FITNESS系統後，視同本人親自操作；且其所勾選之「同意」或類似選項，性質上視同本人親自簽名同意，學員應接受其等同親自簽名之法律效力。
                                            </li>
                                            <li>
                                                學員於BEYOND
                                                FITNESS系統購買健身教練服務相關產品服務時，應詳閱該產品服務方案之說明及注意事項所記載之產品服務種類、服務教練及學員之姓名/名稱、連絡方式、電子郵件、網址、地址或其他聯絡資料、課程場地、期限、教練學員比例、費用、堂數、繳費時間、退費、補課機制、有無指定教練及指定教練之姓名、購買體能/健康顧問服務資格、體能/健康顧問服務是否需預約及預約方式等。前述說明及注意事項，依本合約22條所列為本合約之附約，均視為本合約一部分。當學員成功購買產品服務即視同其了解並同意相關合約及附約內容，本合約即刻生效。
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>實體場館基本資料、設備</b><br />
                                        學員的實體商店基本資料如本合約前言所載。各實體館場地址資訊、使用面積、預計招收學員數、現有學人數、最大容留人數及所投保之公共意外責任險，請參考本公司官網之介紹。
                                    </li>
                                    <li>
                                        <b>實體場館營業時間</b><br />
                                        <ol>
                                            <li>本公司營業時間請參考官網之介紹。</li>
                                            <li>
                                                於本合約有效期間內，本公司實體商店因有維修或其他需要而造成營業期間暫停，應予展延或有其他配套措施。但每月 2 日以內之例行維修，並於維修 24
                                                小時前事先通知學員或公告者，不在此限。
                                            </li>
                                            <li>因天災、地變、政府法令或其他不可歸責於本公司事由致無法營業者，本公司得暫時停業或縮短營業時間，除法令另有訂定或另有約定外，學員不得請求損害賠償，或展延方案。
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>實體場館提供之服務內容</b><br />
                                        <ol>
                                            <li>
                                                於營業時間內，本公司於場館提供之服務內容如下：
                                                <ol>
                                                    <li>合格可供正常使用之運動器材設備。本公司得依健身產業之實際發展情形及學員使用狀況，調整所提供之現有設備或設施供學員使用。</li>
                                                    <li>各種設備使用方法之中文標示及使用說明。</li>
                                                    <li>各種設備於明顯處所張貼不當使用可能產生危險之警告標示及緊急處理危險方法之說明。</li>
                                                </ol>
                                            </li>
                                            <li>
                                                本公司於各該實體商店內之設施管理、維修與人員配置情形，可至本公司官網查詢：
                                                <ol>
                                                    <li>合格之運動器材設備及定期維護或更新。</li>
                                                    <li>適當救生器材。</li>
                                                    <li>器材使用說明牌。</li>
                                                </ol>
                                            </li>
                                            <li>服務除外聲明：本公司於營業場所內僅提供第本合約內所載之服務內容，其自主訓練項目為自行使用場地之服務並未提供任何教練現場指導或課程。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>實體場館使用與安全</b><br />
                                        學員同意並保證於營業時間內將確實遵守本公司實體場館之管理規範及所有設備、空間使用規則，包括但不限於現場所有張貼之場規、注意事項及下列規範：
                                        <ol>
                                            <li>
                                                空間及設備使用
                                                <ol>
                                                    <li>
                                                        學員因購買本公司提供之產品及服務，而使用本公司實體場館之空間或設備時，應著適當合宜服裝(即運動服裝、慢跑鞋、訓練鞋及舉重鞋等)，不得赤腳或穿著牛仔褲、涼鞋等不適宜運動之服裝，但經本公司或學員同意者，不在此限。若配合政府疫情措施，則應落實個人防護措施，主動積極配合各項防疫措施，以兼顧防疫與實體場館使用品質。
                                                    </li>
                                                    <li>學員應依各項器材之指示使用設備，不得有任何毀損本公司設備之行為。</li>
                                                    <li>
                                                        學員不得攜帶違禁品或危險物品進入本公司實體場館，及勿攜帶貴重物品至本公司實體場館。學員所攜帶之金錢、有價證券、珠寶或其他貴重物品應自行妥善保管，若遺失本公司不負責任。
                                                    </li>
                                                    <li>
                                                        本公司在實體場館備置櫥櫃提供學員暫時擺置隨身攜帶物品(不含易腐敗物品)使用，不應用做存放財物用途，學員應避免攜帶貴重物品，否則應自行隨身攜帶並妥善保管。學員應於每次使用設備完畢後即行攜離。學員應於每次使用本公司設備完畢後即行攜離。其有學員未攜離物品經本公司定2個月以上期間公告招領而仍未取回者，依《民法》第607條等相關規定處理。
                                                    </li>
                                                    <li>
                                                        本公司實體場館內及進出門口不得有賭博、喝酒、吸菸、吃檳榔、喧嘩、口出穢言、於非更衣室空間
                                                        未著衣物或其他不當而足以影響其他學員權益，或其他違反法令等行為(如竊盜、傷害、竊拍或竊錄等行為)；於本公司指定區域內亦不得飲食；未經同意不得拍攝商業性質影片。學員參與本公司提供之產品及服務而使用本公司實體商店之空間或設備者，亦同。
                                                    </li>
                                                    <li>學員應適當使用本公司實體商店各空間及設備，並自行斟酌個人健康狀況，不做不當運動或參與其體力所無法負荷之活動。</li>
                                                </ol>
                                            </li>
                                            <li>本公司為便利學員使用本公司實體場館空間及器材設備，得新增或修訂各種管理規範。</li>
                                            <li>學員應友善對待本公司之學員、員工、供應商、合作夥伴等，如學員的言行或行為有侵犯或影響其他人之權益，本公司得暫停學員一部或全部之服務並保留對本公司求償之權利。
                                            </li>
                                            <li>
                                                使用之損害賠償責任
                                                <ol>
                                                    <li>因學員故意或過失不當使用實體場館之空間或設備而導致本公司、本公司人員、本公司設備或其人員受有損害者，學員應負損害賠償責任。
                                                    </li>
                                                    <li>如因學員同行親友之故意或過失，致使用實體場館之空間或設備造成本公司、本公司人員、本公司設備及其人員受有損害者，學員應負連帶損害賠償責任。
                                                    </li>
                                                    <li>其他當事人一方違反本合約而導致他方受損害者，應負損害賠償責任。</li>
                                                    <li>
                                                        本公司為合法成立健身房，並有投保『公共意外責任險』，保障客戶權益，若學員於本場館內正常使用器材但意外受傷，或因公共環境、建築物、通道、機械等造成之意外事故，將會由第三方公正單位做判定理賠，保障客戶之權益，讓學員更安心運動。
                                                    </li>
                                                    <li>
                                                        本公司每半年申報消防安全設備審查
                                                        並配有一位合格防火管理人審查包含：滅火器數量與效能、自動警報器與手動警報器、緊急廣播設備、安全標示、緊急照明設備、緊急電源等。
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>本公司對於學員義務</b>
                                        <ol>
                                            <li>本公司應依個人資料保護法妥為保護學員因簽約提供資料及其相關消費資訊，未經學員簽署同意之前，不得利用於推廣與行銷。但其提供政府相關機關依法查核用途者，不在此限。
                                            </li>
                                            <li>於執行本合約時，本公司不得向學員收取本合約未約定之費用。</li>
                                            <li>本公司對於學員因本合約註冊成為學員所提供之資料，仍應依法予以保密，並不得為不當之使用。</li>
                                            <li>本公司就實體商店、體能/健康顧問服務之廣告均為本合約內容。本公司應確保其廣告內容真實，且對學員所應負義務不得低於其廣告內容。</li>
                                            <li>
                                                本公司因學員簽訂本合約及蒐集、處理及利用個人資料告知事項暨同意書，或參加課程、活動，或申請會員權暫停，而知悉或持有學員資料者，本公司應保密及依個人資料保護法相關規定辦理，如有違反，學員得請求損害賠償。
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>付款方式</b><br />
                                        學員同意於BEYOND
                                        FITNESS所購買之服務，均依照本公司指定方式付款。學員未繳費用或因其他事由導致付款失敗時，應於經本公司第一次催款通知後30日內繳納。若雙方約定以信用卡按月分期授權扣(繳)款者，應於授權書明確揭露「如消費者書面提出解除、終止契約時，業者應於二十四小時內通知信用卡銀行停止扣款」。
                                    </li>
                                    <li>
                                        <b>服務預約</b>
                                        <ol>
                                            <li>
                                                如體能/健康顧問服務需預約者(包含但不限於私人教練、運動防護、運動恢復、營養諮詢等)，學員至少24小時前應與提供服務教練約定時間。如學員因故無法出席或時間需異動，應於24小時內通知提供該服務教練。逾期未通知者若欲補課，學員須給付每堂新臺幣參佰元整(NTD$300)作為補課場地手續費，方可進行補課之服務。補課課程之日期、時間、內容與服務教練無法保證與缺課課程一致。
                                            </li>
                                            <li>如體能/健康顧問服務於購買時已有排定日期及時間者(包含但不限於團體課程、團課、期課、優惠購等)，學員應如期參與。如學員因故無法出席，應於24小時內該服務之教練取消其體能服務。逾期未取消者若欲補課，學員須給付每堂新臺幣陸佰元整(NTD$600)作為補課場地手續費，方可進行補課之服務。補課課程之日期、時間、內容與服務教練無法保證與缺課課程一致。
                                            </li>
                                            <li>如學員於約定提供服務之時間遲到20分鐘以上，其服務教練有權利視為「缺席」處理，且本公司無義務於剩餘預約時段內提供服務(特殊情形視情況由體能/健康顧問及本公司協調而定)。學員須給付每堂新臺幣參佰元整(NTD$300)作為補課場地手續費，方可進行補課之服務。補課課程之日期、時間、內容與服務教練無法保證與缺課課程一致。
                                            </li>
                                            <li>
                                                如提供體能/健康顧問服務之教練其提供服務之內容或時間有異動者，應於變動之課程開始 24
                                                小時前通知學員，未依本合約所訂之通知方式通知或逾期未通知或者，學員得請求本公司於指定時間內補課。
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>體能顧問服務期間與一般展延之申請</b>
                                        <ol>
                                            <li>
                                                實體課程應自簽約日起18個月內使用完畢。無法於上述使用期限內完成課程堂數且無本合約第11條特殊展延事由者，得於到期前30日內申請展延使用，並得就未完成部分協商最多展延3個月內完成，惟僅得展延一次。
                                            </li>
                                            <li>
                                                遠距課程應自簽約日起3個月內使用完畢。無法於上述使用期限內完成課程堂數，且無本合約第11條特殊展延事由者者，得於到期前30日內申請展延使用，並得就未完成部分協商最多展延3個月內完成。
                                            </li>
                                            <li>學員於合約期間內使用本「產品及服務購買合約書合約」所簽訂之顧問條款。所有體能/健康顧問相關服務需於合約期間內使用完畢。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>體能顧問服務猶豫期之解約</b><br />
                                        學員於購買體能/健康顧問服務後，若欲解除合約並請求全額退還已繳納之費用，須符合以下條件：學員所購買體能/健康顧問之合約生效後 7
                                        日內，且提出解除合約請求前均未使用學員所購買之體能/健康顧問服務。
                                    </li>
                                    <li>
                                        <b>特殊情況下之服務展延</b>
                                        <ol>
                                            <li>
                                                學員事先提出相關書面文件證明下列事由之一者，本公司應於七工作日內辦理暫停教練課程服務，於停權期間，免繳課程費用，課程有效期限順延：
                                                <ol>
                                                    <li>因出國逾1個月者，依本款辦理展延體能/健康顧問服務資格。</li>
                                                    <li>因傷害、疾病或身體不適致不適宜運動者。</li>
                                                    <ol>
                                                        <li>因本款事由申請展延者，得於事由發生後一個月內補辦。</li>
                                                        <li>
                                                            因本款事由申請展延者，於展延之日(含)起計6個月後，經醫師開立診斷證明，明確證明學員於所展延之6個月內期間確實不能運動者，得依第14.1條向本公司辦理退費。
                                                        </li>
                                                    </ol>
                                                    <li>因懷孕、育嬰或侍親之需要者。</li>
                                                    <li>因服兵役致難以行使體能/健康顧問服務權利者。</li>
                                                    <li>因職務異動或遷居致難以行使健身教練服務權利者。</li>
                                                    <li>其他雖不符合前列各款事由，但不可歸責於消費者事由致無法使用健身教練服務者。</li>
                                                </ol>
                                            </li>
                                            <li>前項所列舉之情形，學員應檢附各款事由相關證明或釋明文件，本公司將於資料齊備後七個工作日內辦理教練課程之暫停及展延。</li>
                                            <li>因應中央流行疫情指揮中心一級開設並發生社區感染時，如體能/健康顧問服務提供之所在地位於該區域之直轄市、縣(市)者，學員亦得依規定辦理展延體能/健康顧問服務資格之行使(準用11.1及11.1.2.1)。
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>服務轉讓</b><br />
                                        學員購買之體能/健康顧問服務得在提供本公司認可之證明文件且經過提供該體能/健康顧問服務之學員同意後轉讓其未使用且未過期之體能/健康顧問服務予第三人，每次須以整筆訂單轉讓，不可選擇轉部分訂單。每次轉讓學員須支付轉讓費新臺幣參佰元(NTD$300)。體能/健康顧問服務之轉讓僅就所轉讓之體能/健康顧問服務相關權利及義務，不包含學員所額外購買之產品服務(例如但不限於學員資格、實體產品等)，如學員因轉讓體能/健康顧問服務致與他人發生糾紛，應自行解決，概與本公司無涉，如造成本公司損害，學員應賠償該等損害。
                                    </li>
                                    <li>
                                        <b>服務轉點</b><br />
                                        學員得於合約存續期間申請轉換使用BEYOND FITNESS實體場館，為轉換時應遵循下列方式：
                                        <ol>
                                            <li>轉換至費用較高之場所：依同方案之價格計算補足差額。</li>
                                            <li>轉換至費用較低之場所：直接轉換無退費。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>服務合約終止</b>
                                        <ol>
                                            <li>
                                                <b>學員主動提出之終止</b>
                                                <ol>
                                                    <li>
                                                        學員得於本合約期限屆滿前，隨時終止所購買之體能/健康顧問服務，惟因涉及學員權益及金額，請學員須親赴本公司辦理。若本人不便前往請填妥代辦委任書，請受委託人攜帶代辦委任書正本協助辦理，辦理完畢後即生終止效力。
                                                    </li>
                                                    <li>
                                                        退費之手續費及應退餘款之計算<br />若因個人因素欲辦理體能/健康顧問服務(含私人教練、運動防護、運動恢復、營養諮詢等服務)退費，本公司依下列狀況退還其餘額：
                                                        <ol>
                                                            <li>
                                                                合約生效後七日內，且尚未使用所約定服務(課程)而終止合約者，全額退還已繳納之費用。惟若合約生效後已逾七日，將從退費金額內收取退費金額之百分之五(5%)作為手續費，但以新台幣玖仟元(NTD$9,000)為上限。惟學員依第11.1.2條之事由提出之終止，不收取手續費。
                                                            </li>
                                                            <li>
                                                                合約生效後已逾七日，且學員已使用所約定服務(課程)而終止合約者，依比例退回未使用且未過期之費用(計算方式：就剩餘未過期且未使用之堂數乘以每堂購買單價退費)，將從退費金額內收取退費金額之百分之二十(20%)作為手續費，但以新台幣玖仟元(NTD$9,000)為上限。惟學員依第11.1.2條之事由提出之終止，不收取手續費。
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                <b>因可歸責於學員事由之終止</b>
                                                <ol>
                                                    <li>
                                                        學員違反本合約之約定，或有相當事證足認學員有涉及違法之行為，或學員所提交之身份認證資料為虛偽並查證屬實者，本公司得對學員暫停一部或全部之服務，並得終止本合約。必要時，本公司亦得向司法機關提出告發或告訴。
                                                    </li>
                                                    <li>除非有其他約定者，其他學員違反本合約、特殊條款、平台隱私權政策之規定，經本公司通知改善卻未改善者，本公司得終止本合約。</li>
                                                    <li>如學員對本公司之營運有不當行為且情節重大，經勸告無效者，本公司得終止向學員提供體能/健康顧問服務服務，並依未服務之堂數計算餘額退還予學員。
                                                    </li>
                                                    <li>
                                                        如學員違反本合約條款，經勸告無效者，本公司得終止向學員提供服務教練資格，並依第14條之規定辦理退費，且不得向學員收取手續費。惟本公司權益受損時，可依法向學員求償。
                                                    </li>
                                                    <li>
                                                        如學員未依約定繳費，本公司應於繳費期限屆滿日起10日內通知學員，學員應於30日內完成繳納相關費用。如學員於本公司第一次催款通知後20(含)日仍未繳清者，學員體能/健康顧問服務合約自動終止。
                                                    </li>
                                                    <li>如本公司未能證明前項催繳通知，致本合約仍為存續狀態者所生費用，不得向消費者收取。</li>
                                                </ol>
                                            </li>
                                            <li>
                                                <b>因不可歸責學員事由之終止</b>
                                                <ol>
                                                    <li>
                                                        學員因下列不可歸責於學員之事由而申請終止私人<b>教練體能顧問服務</b>者，本公司準用第14.1.2規定退費：
                                                        <ol>
                                                            <li>累計私人教練體能顧問服務合約量(含本公司不同教練)，已達每週平均逾五堂課。</li>
                                                            <li>學員指定之私人體能教練顧問無法依約執行業務。但學員已同意由本公司另行替換其他教練者，不在此限。</li>
                                                            <li>本公司變更履約地點，未經學員同意。</li>
                                                            <li>學員者暫停私人體能教練顧問教練課程服務超過一年。</li>
                                                        </ol>
                                                    </li>
                                                    <li>因本條第一款至第三款終止合約者，本公司不收取手續費、違約金或任何名目費用。因本條第四款終止合約者，本公司得依第14.1.2.2之規定酌收手續費。
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                <b>因可歸責本公司事由之終止</b>
                                                <ol>
                                                    <li>若因可歸責本公司之事由致本公司無法繼續提供約定服務，應依未服務之堂數(含所贈與服務堂數)計算餘額退還予消費者，不得收取手續費、違約金或任何名目之扣費。
                                                    </li>
                                                    <li>前項退費，本公司應準用第14.1.2.2所定方式計算違約金支付予消費者。</li>
                                                </ol>
                                            </li>
                                            <li>
                                                <b>不可歸責於雙方之終止</b><br />
                                                因天災、戰亂、政府法令之新增或變更等不可抗力或其他不可歸責於學員或本公司之事由，致一方難以完成所約定之健身教練服務時，任何一方均得終止關於體能/健康顧問服務之合約，並依未服務之堂數計算餘額退還予學員，且不得向學員收取手續費，學員不得因此要求本公司額外賠償。
                                            </li>
                                            <li>合約屆滿前30日，得於到期前30日前往辦理退費；若未於合約屆滿前辦理退費，合約期間屆滿後，未使用之剩餘堂數，本公司得不予退費。</li>
                                            <li>學員終止體能/健康顧問合約時，應依本公司關於終止本合約及關閉帳戶之程序為之。</li>
                                            <li>本公司依本條之規定終止學員登入系統資格，若學員未遵守而致本公司權益受損時，可依法向學員求償。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>贈與約款及效果</b>
                                        <ol>
                                            <li>本公司同意，贈與簽訂本合約之學員如以下各項，相加後其總值不超過本合約總金額百分之二十之贈品：
                                                <ol>
                                                    <li>課程堂數：N/A</li>
                                                    <li>商品 ：N/A</li>
                                                    <li>其他：N/A</li>
                                                </ol>
                                            </li>
                                            <li>本公司以贈與產品及服務為內容所為之贈與，於本合約終止或解除時，本公司不得向學員請求返還該贈與，亦不得於學員主張自應返還費用金額中，扣除該贈與價額。
                                            </li>
                                            <li>本公司以贈送會員會籍期限為內容而簽訂本合約者，應將各該期限合併納入本合約範圍。</li>
                                            <li>提供體能/健康顧問服務以贈與產品及服務為內容所為之贈與，於本合約終止或解除時，不得向學員請求返還該贈與，亦不得向學員主張自應返還費用金額中，扣除該贈與價額。
                                            </li>
                                            <li>本公司以課程堂數為贈品者，應將贈品各該期限及堂數，合併納入本合約範圍。</li>
                                            <li>BEYOND
                                                FITNESS保留活動隨時修改、變更、暫停或終止贈與活動內容之權利。如有未盡事宜，由雙方本誠信原則協議之或依民法或其他相關法令定之。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>商品交易注意事項</b><br />
                                        學員於BEYOND FITNESS雲端學員系統銷售頁面或BEYOND
                                        FITNESS場館所載產品及服務之照片、說明等資訊僅做為參考之依據，實際應以實物為主。本公司僅作為銷售管道，雖有相關學員之約定，惟仍無法保證產品及服務之品質、安全及合法性，產品及服務訊息之真實性與準確性，學員在消費時應自行審慎判斷是否購買相關產品及服務，並自行承擔相關風險。
                                    </li>
                                    <li>
                                        <b>通知</b><br />
                                        除另有約定外，本公司依本協議對學員所為之任何通知，原則以中文作成，但在必要情形，通知得例外以英文作成，並應如以下之一方式為之：
                                        <ol>
                                            <li>
                                                以書面為之
                                                <ol>
                                                    <li>以網站明顯處、社群網站、雲端系統、LINE應用軟體推播。</li>
                                                    <li>其他經學員同意之方式為之。</li>
                                                </ol>
                                            </li>
                                            <li>
                                                以下情形視為學員收受本公司有效之通知
                                                <ol>
                                                    <li>以信件投遞者，於信件投遞後二日或信件投遞至相關地址時。</li>
                                                    <li>
                                                        以網站明顯處、社群網站、LINE應用軟體推播，於通知後 24
                                                        小時起；及本公司如未獲學員提供住址或其他聯繫方式，學員得於平台明顯處刊載通知訊息以通知學員，學員應定期瀏覽並了解任何通知內容。
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>學員聯繫資料有變更者，應即時通知其服務教練更新個人資料，以便本公司知悉。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>消費者權益處理</b>
                                        <ol>
                                            <li>
                                                學員透過BEYOND
                                                FITNESS場館購買實體產品(如運動服飾、用品、餐飲等)完成交易，決定就當次交易產品取消訂購請求退款時，學員可臨櫃透過其服務教練，協助辦理取消訂購或解約退款事宜。學員購買非實體之課程或服務性產品(如私人教練體能顧問服務、恢復顧問服務、營養顧問服務等)的退貨或解約，應依該特殊條款或購買時規定辦理。
                                            </li>
                                            <li>
                                                學員若符合第14條所訂退款條件者，學員須提供相關退款資料（折讓單個人簽核或蓋統編發票章、本人帳戶影本），資料備齊之後，本公司將於配合銀行退款時程，於15個工作日內退款至合約主簽約人帳戶。若因學員取消部分或全部實體產品與服務應負擔手續費之標準，本公司得自退費款項中扣抵相關費用。
                                            </li>
                                            <li>本公司於本公司官方網站上均有公布產品及服務使用條款及常見問答。學員亦可於本公司經營之社群媒體頁上留下使用滿意程度回饋、建議或需要協助之內容。
                                            </li>
                                            <li>
                                                本公司得因應雲端系統之業務需求，新增BEYOND
                                                FITNESS雲端學員系統之功能提供予學員使用，如新功能之提供會影響本合約內容者，經調整之本合約內容於本公司依本合約第17條通知學員後生效。
                                            </li>
                                            <li>BEYOND FITNESS雲端系統將定期進行備份與維修，本公司並應維護資料之完整性，但仍無法百分之百擔保資料之完整性。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>學員帳戶使用與保管</b>
                                        <ol>
                                            <li>
                                                學員應妥善保管其帳戶及密碼資訊，並正確、安全地使用其帳戶及密碼資訊。學員未盡上述義務導致帳戶密碼遺失、帳戶被盜用或因冒名使用而引起糾紛或造成損害者，學員應承擔因此所致法律責任。如因此造成本公司損害，本公司得請求學員賠償該損害。
                                            </li>
                                            <li>本公司有權審查學員所提供的個人資料是否真實、有效，並以專業技術與管理等措施來保障用戶帳戶的安全、有效。</li>
                                            <li>如學員發現其帳戶或密碼被他人非法使用或有使用異常情況者，應及時根據本公司公布的處理方式通知學員，並有權通知學員採取措施暫停該帳戶的登入和使用，惟因學員帳戶或密碼被他人非法使用所致之損害，於可歸責於本公司之範圍內，本公司負重大過失責任。
                                            </li>
                                            <li>學員完成註冊程序後取得之帳號及密碼，僅供學員使用。學員了解開始使用本公司提供之雲端系統服務，其帳號所有權仍屬本公司所有，學員僅得依本服務條款之約定使用。
                                            </li>
                                            <li>學員遺忘密碼時，得依本公司提供之修改機制進行變更。本公司不得主動詢問學員之密碼。學員應於合約終止後三十日內，保留本公司之帳號及課程紀錄。
                                            </li>
                                            <li>非因可歸責本公司之事由而終止者，本公司於前項期間內辦理續用後，有權繼續使用帳號及附隨於該帳號之課程紀錄。前項期間屆滿時，學員仍未辦理續用，學員得刪除該帳號及附隨於該帳號之所有資料，但法令另有規定者不在此限。
                                            </li>
                                            <li>學員如發現帳號、密碼被非法使用或忘記密碼時，應立即通知本公司進行更換密碼予學員，立即限制第三人就本系統服務之使用權利。</li>
                                            <li>學員應定期妥善的管理帳號，並定期更改密碼的設定，且勿隨意下載非法軟體，以避免駭客入侵。</li>
                                            <li>學員因共用帳號、委託他人帳號使用，衍生與第三人間之糾紛，本公司得不予協助處理。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>附則</b>
                                        <ol>
                                            <li>
                                                本公司未授權任何銷售人員、體能/健康顧問就本合約以外事項為任何口頭表示或承諾，您確認本合約構成您與本公司之完整協議。任何與本合約不符之明示、默示或口頭之承諾，對於本公司均不生效力。
                                            </li>
                                            <li>您瞭解本公司並無授權員工向您介紹營養食品或醫療產品，您同意不得因信賴本公司員工所為之推銷或建議，而向本公司請求任何賠償。</li>
                                            <li>本公司為便利學員充分有效使用本公司運動器材設備，得為各種管理規範之訂頒及其修正。</li>
                                            <li>
                                                若學員發現BEYOND
                                                FITNESS任一服務平台上所提供之產品及服務之圖片、資訊，有任何侵權情形，得通知本公司，本公司收到通知後將立即轉知，並依之回報協助為適當之處理。
                                            </li>
                                            <li>刊載於 BEYOND FITNESS系統上之產品、服務、方案介紹、購買及使用注意事項等，均視為本合約附約(以下簡稱「附約」)。</li>
                                            <li>本合約之解釋及履行，各方同意以中華民國法律為準據法，並以有利於學員之解釋。如因本合約條款產生任何爭議，除法律另有規定者外，各方同意以台灣台北地方法院為第一審管轄法院。
                                            </li>
                                            <li>本合約有未盡事宜者，依相關法令、習慣及誠信原則公平解決之。</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>教練課程服務之履約保證</b><br />
                                        本公司就教練課程費提供履約保障。依信託法規規定交付台新銀行，並開立信託專戶管理。信託期間自學員成功購買本公司教練服務當日起至該服務終止或到期日止。本公司為信託之委託人，且得自為受益人，並依實際交付信託額度，按銷課堂數自專戶領取。為提供履約保證，學員同意本公司將所交付信託金額之相關資料(包含但不限於學員姓名、身份證字號、通訊地址、電話、訂單或合約編號、訂單或合約起訖日、購買之產品服務、金額等細節)提供銀行。若本公司發生解散、歇業、經破產宣告、遭撤銷或廢止設立登記、經假扣押或其他原因而導致無法履行本合約之義務者，視為業者同意其受益權歸屬消費者或其或其受讓人。
                                    </li>
                                    <li>
                                        <b>合約之解釋</b><br />
                                        刊載於BEYOND
                                        FITNESS系統上之產品、服務、方案介紹、購買、服務申請及使用注意事項等，均視為本合約附約(以下簡稱「附約」)。若本合約條款、特殊條款、各項產品及服務之刊載BEYOND
                                        FITNESS系統上之附約或平台隱私條款有衝突或牴觸時，以附約、特殊條款優先解釋適用，平台隱私條款、合約條款次之。
                                    </li>
                                    <li>
                                        <b>增修契約條款之通知與默示變更</b>
                                        <ol>
                                            <li>
                                                本合約條款款如有修改或增刪時，Beyond
                                                Fitness均會以書面或電子郵件或其他電子文件(含網站公告)或其他學員同意之方式通知貴學員(以上方式擇一)。學員瞭解並同意，若學員於 14
                                                日內不為異議者，即表示學員承認該新修改或新增刪之條款；若有異議者，應即通知Beyond Fitness
                                                終止契約。新學員於新條款異議期間與本公司簽訂合約者，則逕行適用新條款之規定，舊條款對新學員不生效力。
                                            </li>
                                            <li>
                                                前項通知所寄送之實體地址或數位地址，均以Beyond學員於初次簽訂Beyond
                                                Fitness體能顧問聘僱服務合約所提供之地址為準。若學員於簽約後有變更地址，應主動告知Beyond以為資料之變更。學員瞭解並同意，若相關變更通知因學員寄送地址未更新而無法送達學員本人者，其相關之權利義務影響，由學員自行承擔。
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <b>特殊條款</b>
                                        <ol>
                                            <li>
                                                遠距課程
                                                <ol>
                                                    <li>遠距課程僅得於本人使用，恕不提供轉讓。</li>
                                                    <li>學員應遵守本合約及本公司管理規範，並應遵守本公司及專業教練指導，並不得隱匿自身訓練周遭潛在之環境危險與安全，至居家訓練空間。
                                                    </li>
                                                    <li>
                                                        遠距訓練時應著適當合宜之服裝，且確認遠距課程需求之網路連線與設備顯示清晰；遠距教學通訊軟體主要為Zoom，若使用其他軟體，請務必測試收音、麥克風、鏡頭可正常運行，或足以影響課程品質權益等行為。
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                營養諮詢服務
                                                <ol>
                                                    <li>營養諮詢服務簽約付款後營養師會與您進行聯繫並規劃飲食建議；並自簽約日起3個月內使用完畢。</li>
                                                    <li>營養諮詢服務係為持續性服務性質，學員一旦開始諮詢服務後則本公司將持續按時提供服務，學員不得任意終止服務。惟若學員有11條之情事，得依該條申請展延。
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section TailPageJavaScriptInclude {

}