@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Models.Timeline
@using WebHome.Controllers
@using Newtonsoft.Json
@{
    Layout = "~/Views/CornerKick/Shared/MainPage.cshtml";

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;

    DataItemViewModel _viewModel = (DataItemViewModel)ViewBag.ViewModel;
}

<div class="notice-wrap">
    <div class="container center">
        <p>
            <img class="responsive-img nodata" src="images/error.png">
            <span class="gray-t16">@Html.Raw(_viewModel.Message)</span>
            @if (_viewModel.Assertion != null)
            {
                <span class="help-error-text">@(_viewModel.Assertion)</span>
            }
        </p>
    </div>
</div>