<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>BEYOND FITNESS</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="wrapper">
  <div class="wrapper-fixed"> 
    <!--Header -->
    <nav class="white" role="navigation">
      <div class="nav-wrapper container"> <a id="logo-container" href="#" class="brand-logo center" ><img src="images/Nav-logo-black.png" title="BEYOND FITNESS" alt="BEYOND FITNESS"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"><i class="material-icons">content_paste</i></a></li>
        </ul>
        <!-- 側邊選單 -->
        
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background"><img src="images/office.jpg"></div>
              <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> <a href="#!name"><span class="white-text name">加菲貓（Garfield）</span></a> <a href="#!email"><span class="white-text email">登出</span></a> </div>
          </li>
          <li><a href="#!">目標頁</a></li>
          <li><a href="#!">通知頁</a></li>
          <li><a href="#!">點數兌換</a></li>
          <li><a href="#!">帳號設定</a></li>
          <!--<li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> 
        
        <!-- // End of 側邊選單 --> 
      </div>
    </nav>
    <!-- // End of Header --> 
    
    <!-- main -->
    <div class="main">
      <div class="container"> 
        <!-- 活動通知 -->
        <div class="notice-block">
          <ul id="dropdown1" class="dropdown-content notice-dropdown">
            <li><a href="#!">2018/04/23 未打卡 <i class="material-icons right">arrow_forward</i></a></li>
            <li><a href="#!">2018/04/23 未打卡 <i class="material-icons right">arrow_forward</i></a></li>
          </ul>
          <ul class="hide-on-med-and-down">
            
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><span class="btn-floating waves-effect waves-light btn-notice red">1</span>尚有一堂課未打卡<i class="material-icons right">keyboard_arrow_down</i></a></li>
          </ul>
        </div>
        <!-- // End of 活動通知 --> 
        
        <!-- 活動通知 - 無通知 -->
        <div class="notice-block">
          <ul id="dropdown2" class="dropdown-content notice-dropdown ">
          </ul>
          <ul class="hide-on-med-and-down notice-non">
            
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">本月累計訓練時間：<span class="f-green">246</span> min ( 4hr06min )</a></li>
          </ul>
        </div>
        <!-- // End of 活動通知 --> 
        
        <!-- 課表內容 Slider -->
        
        <div class="class-block">
          <h3>課表內容</h3>
          <div class="carousel carousel-slider center " data-indicators="true">
            <div class="carousel-fixed-item center middle-indicator">
              <div class="left"> <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a> </div>
              <div class="right"> <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a> </div>
            </div>
            <div class="carousel-item red white-text" href="#one!"> <img src="images/background1.jpg" alt="Unsplashed background img 1">
              <div class="container">
                <div class="text-area" >
                  <h4>課程日期 - 2018/04/02</h4>
                  <p class="white-text">矯正肩脥關節，提升全身肌力，運動能力整合</p>
                </div>
              </div>
            </div>
            <div class="carousel-item amber white-text" href="#two!"> <img src="images/background2.jpg" alt="Unsplashed background img 2">
              <div class="container">
                <div class="text-area" >
                  <h4>課程日期 - 2018/04/02</h4>
                  <p class="white-text">矯正肩脥關節，提升全身肌力，運動能力整合</p>
                </div>
              </div>
            </div>
            <div class="carousel-item green white-text" href="#three!"> <img src="images/background3.jpg" alt="Unsplashed background img 3">
              <div class="container">
                <div class="text-area" >
                  <h4>課程日期 - 2018/04/02</h4>
                  <p class="white-text">矯正肩脥關節，提升全身肌力，運動能力整合</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // End of 課表內容 Slider --> 
        
        <!-- 個人目標 -->
        
        <div class="goal-block">
          <h3>個人目標</h3>
          <div id="" class="parallax-container">
            <div class="section no-pad-bot">
              <div class="container">
                <div class="text-area">
                  <h4>週期性目標 - 輔助期</h4>
                  <p class="white-text">1.完整深蹲 2.跑步可達10k，不會不舒服...</p>
                </div>
              </div>
            </div>
            <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
          </div>
        </div>
        <!-- // End of 個人目標 --> 
        
        <!-- 體能分析圖 -->
        
        <div class="goal-block">
          <h3>體能分析圖</h3>
          <div id="" div class="parallax-container">
            <div class="section no-pad-bot">
              <div class="container"> 
                <!--<div class="text-area">
          <h4>目前您累積 5 點，答題共 6 題。</h4>
          <p class="white-text">每答對一題將能累積點一點，而點數能夠兌換各類精美禮品喔！</p>
         </div>--> 
              </div>
            </div>
            <div class="parallax bgcolor"></div>
          </div>
        </div>
        <!-- // End of 體能分析圖 --> 
        
        <!-- 專業文章 Slider -->
        
        <div class="article-block">
          <h3>專業文章</h3>
          <div class="carousel carousel-slider center " data-indicators="true">
            <div class="carousel-fixed-item center middle-indicator">
              <div class="left"> <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a> </div>
              <div class="right"> <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a> </div>
            </div>
            <div class="carousel-item red white-text" href="https://www.beyond-fitness.com.tw/front-end/single-post.html?id=26215'" onclick="javascript:window.location.assign('https://www.beyond-fitness.com.tw/front-end/single-post.html?id=26215');"> <img src="images/carousel/background1.jpg" alt="Unsplashed background img 1">
              <div class="container">
                <div class="text-area" >
                  <h4>文章標題</h4>
                  <p class="white-text">內容節錄內容節錄內容節錄內容節錄內容...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item amber white-text" href="https://www.beyond-fitness.com.tw/front-end/single-post.html?id=26215'" onclick="javascript:window.location.assign('https://www.beyond-fitness.com.tw/front-end/single-post.html?id=26215');"> <img src="images/carousel/background2.jpg" alt="Unsplashed background img 2">
              <div class="container">
                <div class="text-area" >
                  <h4>文章標題</h4>
                  <p class="white-text">內容節錄內容節錄內容節錄內容節錄內容...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item green white-text" href="https://www.beyond-fitness.com.tw/front-end/single-post.html?id=26215'" onclick="javascript:window.location.assign('https://www.beyond-fitness.com.tw/front-end/single-post.html?id=26215');"> <img src="images/carousel/background3.jpg" alt="Unsplashed background img 3">
              <div class="container">
                <div class="text-area" >
                  <h4>文章標題</h4>
                  <p class="white-text">內容節錄內容節錄內容節錄內容節錄內容...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // End of 專業文章 Slider --> 
        
        <!-- 點數兌換 -->
        
        <div class="points-block">
          <h3>點數兌換</h3>
          <div id="" div class="parallax-container parallax-min">
            <div class="section no-pad-bot">
              <div class="container">
                <div class="points-text-area">
                  <h5>目前您累積<span class="f-green"> 5 </span>點，答題共<span> 6 </span>題。</h5>
                  <p class="white-text">每答對一題將能累積點一點，而點數能夠兌換各類精美禮品喔！</p>
                </div>
              </div>
            </div>
            <div class="parallax bgcolor"></div>
          </div>
        </div>
        <!-- // End of 點數兌換 --> 
        
      </div>
    </div>
    <!-- // End of main --> 
  </div>
  <!--// End of wrapper-fixed--> 
  
  <!-- Footer -->
  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container"><a class="brown-text text-lighten-3" href="#">BEYOND FITNESS</a> </div>
    </div>
  </footer>
  <!-- // End of Footer --> 
  
</div>

<!--// End of wrapper--> 
<!--  Scripts--> 
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
<script src="js/materialize.js"></script> 
<script src="js/init.js"></script>
</body>
</html>
