
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    int partialCount;
    if(TempData["PartialCount"]==null)
    {
        partialCount = 0;
    }
    else
    {
        partialCount = (int)TempData["PartialCount"];
    }
    String _viewID = $"searchLearner_{partialCount++}";
    TempData["PartialCount"] = partialCount;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
}
<input type="text" id="@(_viewID)" class="form-control form-control-danger" name="UserName" placeholder="搜尋學生..." />
<span class="input-group-addon  xl-seagreen" onclick="var e = jQuery.Event('keypress');e.which = 13;e.keyCode = 13;$('#@(_viewID)').trigger(e);">
    <i class="zmdi zmdi-search"></i>
    <script>
        $(function () {
            $('#@(_viewID)').keypress(function (event) {
                var event = event || window.event;
                var userName = $(event.target).val();
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    searchLearner(userName);
                }
            });

            function searchLearner(param) {
                clearErrors();
                if (param.length < 2) {
                    Swal.fire({
                        title: "Opps！",
                        text: "你忘了學生的姓名嗎？!(至少2個中、英文字)",
                        icon: "warning",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "重新輸入!",
                        focusCancel: true
                    }).then((result) => {

                    });
                } else {
                    showLoading();
                    $.post('@Url.Action("SearchContractLeader", "LearnerProfile")', { 'userName': param }, function (data) {
                        hideLoading();
                        if ($.isPlainObject(data)) {
                            if (data.result) {
                                Swal.fire(
                                    'Oops...',
                                    data.message,
                                    'warning'
                                )
                            } else {
                                Swal.fire({
                                    title: "Opps！",
                                    text: "你確定有這個學生？!",
                                    icon: "warning",
                                    showCancelButton: false,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "重新輸入!",
                                    focusCancel: true
                                }).then((result) => {

                                });
                            }
                        } else {
                            $(data).appendTo($('body'));
                        }
                    });
                }
            }
        });


    </script>
</span>



