
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using WebHome.Properties
@using WebHome.Helper.BusinessOperation
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContract _model;

    CourseContractViewModel _viewModel = (CourseContractViewModel)ViewBag.ViewModel;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (CourseContract)this.Model;
}

<table style="font-size:0.768em">
    <tr>
        <td>
            <ol class="p-l-25">
                <li>營業時間及設備：營業時間及設備參照各上課地點規定。</li>
                <li>學員資格：未成年人應得其法定代理人允許或承認。</li>
                <li>教練課程費依信託法規交付台新銀行（即信託業者）開立信託專戶信託期間:自中華民國@($"{_model.ValidFrom.Value.Year-1911}年{_model.ValidFrom.Value.Month:00}月{_model.ValidFrom.Value.Day:00}日")至@($"{_model.Expiration.Value.Year-1911}年{_model.Expiration.Value.Month:00}月{_model.Expiration.Value.Day:00}日")，業者為委託人，且得自為受益人，並依實際交付信託 額度，按上課比例自專戶領取。業者發生解散、歇 業、破產宣告、遭撤銷設立登記、 假扣押或其他原因而導致無法履 行服務契約義務者，視為業者同意 其受益權歸屬消費者或其受讓人。</li>
                <li>學員健康情形與醫療諮詢：您聲明其身體健康狀況良好，並無存在會妨礙其預計使用體能顧問服務之醫療原因或傷病。您確認本公司未在客戶簽署本特約條款之前為您提供醫療建議，且在簽署本特約條款後亦不會為您提供有關身體狀況和使用訓練課程能力的任何建議。如果您目前或簽約後有任何健康或醫療方面的問題，應先諮詢醫生，然後再使用其體能顧問服務之權利。</li>
                <li><u class="col-red">契約期間：營養課程簽約付款後24小時後，營養教練會與您進行聯繫並規劃飲食建議；並自簽約日起3個月內使用完畢不得展延。</u></li>
                <li>預約：須於欲使用其營養顧問服務時段至少24小時前向負責營養顧問預約其服務。</li>
                <li>取消：如欲取消預約時段，學員必須於原定時間24小時前通知負責之體能顧問，否則該未使用之預約顧問服務仍應記入已使用之體能顧問課程堂數內。</li>
                <li>遲到：若學員遲到20分鐘以上，其負責之體能顧問有權利視為「缺席」處理，並記入已使用之體能顧問課程堂數內，且本公司無義務於剩餘預約時段內提供服務（特殊情形視情況由體能顧問及本公司協調而定）。</li>
                <li>1對1或1對多課程，學員使用體能顧問服務需完成系統登錄確認。1對多之課程，學員需同時出席，僅1位學員出席時，仍視為已使用體能顧問課程堂數。</li>
                <li>更換教練：學員有權利選擇體能顧問，並瞭解且同意其係購買本公司之課程而非指定體能顧問或其他特定體能顧問之個人服務，若該排定之體能顧問無法提供服務，雙方得協商指派其他體能顧問進行其服務交接。</li>
                <li>轉讓：遠距課程僅得於本人使用，恕不提供轉讓。</li>
                <li>
                    轉點：學員得於合約存續期間申請轉換使用本公司其他營業場所，為轉換時應遵循下列方式：
                    <ul class="list-unstyled">
                        <li>(1) 轉換至費用較高之場所：依同方案之價格計算補足差額。</li>
                        <li>(2) 轉換至費用較低之場所：直接轉換無退費。</li>
                    </ul>
                </li>
                <li>學員於契約期間內使用本「體能顧問聘請服務契約」所簽訂之顧問條款。所有體能顧問相關服務需於契約期間內使用完畢。</li>
                <li>終止合約及退費計算基準：營養課程係為持續性服務性質，一旦開始諮詢服務後則視為合約履行中，若學員單方面要求中止服務，恕不退還已繳費用。</li>
                <li>遠距課程使用規定：遠距上課需確認課程需求之網路連線與設備顯示清晰；遠距教學通訊軟體主要為Zoom，若使用其他軟體，請務必測試收音、麥克風、鏡頭可正常運行，或足以影響課程品質權益等行為。</li>
                <li>依個人資料保護法妥為保護學員因簽約提供資料及其相關消費資訊，未經學員簽署同意之前，不得利用於推廣與行銷。但其提供政府相關機關依法查核用途者，不在此限。</li>
                <li>本公司未授權任何銷售人員、體能顧問就本合約以外事項為任何口頭表示或承諾，您確認本合約構成您與本公司之完整協議。任何與本合約不符之明示、默示或口頭之承諾，對於本公司均不生效力。</li>
                <li>您瞭解本公司並無授權員工向您介紹營養食品或醫療產品，您同意不得因信賴本公司員工所為之推銷或建議，而向本公司請求任何賠償。</li>
                <li>本公司為便利學員充分有效使用本公司運動器材設備，得為各種管理規範之訂頒及其修正。</li>
                <li>本合約如有未盡事宜，由雙方本誠信原則協議之或依民法或其他相關法令定之。因本合約涉訟時，除法律另有規定外，雙方同意以台北地方法院為第一審管轄法院。</li>
            </ol>
        </td>
    </tr>
    <tr class="p-t-0">
        <td>您已詳閱上述各項記載、購買服務之項目及各項特約條款，並確認收到副本。</td>
    </tr>
</table>