
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;



    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (UserProfile)this.Model;
}
@{ CourseContractQueryViewModel queryModel = new CourseContractQueryViewModel
    {
        AlarmCount = 4,
        Status = (int)Naming.CourseContractStatus.已生效,
    };
    var tobeContinued = models.PromptEffectiveContract();
    tobeContinued = tobeContinued.FilterByAlarmedContract(models, 4);}

<div class="body top_counter">
    <div class="icon">
        <i class="zmdi livicon-evo" data-options="name:users.svg; size: 40px; style: solid; strokeWidth:2px; autoPlay:true"></i>
    </div>
    <div class="content">
        <div class="text">待續約 <span class="col-grey float-right">人</span></div>
        <h5 class="number">@(tobeContinued.Select(c => c.OwnerID).Distinct().Count())</h5>
    </div>
    <hr>
    <div class="icon">
        <i class="zmdi livicon-evo" data-options="name:battery-charge.svg; size: 40px; style: solid; strokeWidth:2px; autoPlay:true"></i>
    </div>
    <div class="content">
        <div class="text">待續約 <span class="col-grey float-right">合約</span></div>
        <h5 class="number">
            <a href="#" onclick='showContractList(@Html.Raw(JsonConvert.SerializeObject(
                                    new
                                    {
                                        Status = queryModel.Status,
                                        ManagerID = queryModel.ManagerID,
                                        FitnessConsultant = queryModel.FitnessConsultant,
                                        AlarmCount = queryModel.AlarmCount,
                                        ContractQueryMode = (int)Naming.ContractServiceMode.ContractOnly,
                                    })),@(tobeContinued.Count()));'>@(tobeContinued.Count())</a>
                                </h5>
                            </div>
                        </div>


