
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    int? _model;
    String _dialogID = $"processMember{DateTime.Now.Ticks}";



    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (int?)this.Model;

}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title">請選擇執行功能</h6>
                <a class="closebutton" data-dismiss="modal"></a>
            </div>
            <div class="modal-popmenu-body">
                <div class="list-group">
                    <a href="javascript:editContractMember(@(_model));" class="list-group-item">編輯資料</a>
                    <a href="javascript:removeContractMember(@(_model));" class="list-group-item swal-delete">刪除資料</a>
                </div>
            </div>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

    <script>
        $(function () {

        });

        function removeContractMember(uid) {
            var idx = $global.viewModel.UID.indexOf(uid);
            if (idx >= 0) {
                $global.viewModel.UID.splice(idx, 1);
                if($global.viewModel.OwnerID===uid) {
                    $global.viewModel.OwnerID = null;
                }
                loadMemberList();
                $global.closeAllModal();
            }
            $global.closeAllModal();
        }

    </script>
</div>

