
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContract _model;
    String _dialogID = $"contractDetails{DateTime.Now.Ticks}";
    UserProfile _profile;


    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];
    _model = (CourseContract)this.Model;
    _profile = await Context.GetUserAsync();
}
@if (_model.ContractType == (int)CourseContractType.ContractTypeDefinition.CGA)
{
<ul class="mb_list">
    <li class="tit">
        組合包內容
    </li>
    @{
        foreach (var item in _model.LessonPriceType.LessonPricePackage.Select(p => p.PackageItemPrice))
        {
            <li>
                <div class="list_tb tb2">
                    <div class="list_tr">
                        <div class="list_td hd">@(item.SimpleDescription)</div>
                        <div class="list_td rt">@(item.BundleCount)</div>
                    </div>
                </div>
            </li>
        }
    }
</ul>
}
