@using System.IO
@using System.Linq.Expressions
@using System.Text

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model = this.Model as UserProfile;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
}
<table class="table table-striped table-custom nowrap dataTable dataTable-coachList" style="width:100%">
    <thead>
        <tr>
            <th>體能顧問</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var items = models.GetTable<LearnerFitnessAdvisor>().Where(l => l.UID == _model.UID);
            foreach (var item in items)
            {
                <tr>
                    <td>@Html.Raw(item.ServingCoach.UserProfile.FullName())</td>
                    <td>@*<i class="zmdi zmdi-flag zmdi-hc-2x col-pink"></i>*@</td>
                </tr>
            }
        }
    </tbody>
</table>
