
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    String _dialogID = $"selectPrice{DateTime.Now.Ticks}";

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;

}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a class="closebutton" data-dismiss="modal"></a>
            <div class="card">
                <div class="body">
                    @RenderSection("PriceList")
                </div>
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);
}

<script>
    $(function () {

    });

    function commitPrice(priceID, priceName, event, lessons) {
        var event = event || window.event;
        if ($global.commitPrice) {
            /*$(event.target).parent().text().trim().replace(/\s/g, '')*/
            $global.commitPrice(priceID, priceName, lessons);
        }
        $global.closeAllModal();
    }

</script>

