@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContract _model;
    UserProfile _profile;


    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"]; ;
    _model = (CourseContract)this.Model;
    _profile = await Context.GetUserAsync();
}
<div class="panel">
    <div class="panel-heading" role="tab" id="headingLearnerlist">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse"
               data-parent="#accordionDetail_contract" href="#collapseCSlist" aria-expanded="false"
               aria-controls="collapseCSlist"> <i class="material-icons">subject</i> 剩餘堂數資訊 
           </a>
        </h4>
    </div>
    <div id="collapseCSlist" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCSlist">
        <div class="panel-body no-padding">
            <div class="table-responsive">
                <ul class="mb_list">
                    @{
                        foreach (var rc in _model.RegisterLessonContract.OrderBy(c=>c.Title))
                        {
                            var registerItem = rc.RegisterLesson;
                            var priceItem = registerItem.LessonPriceType;
                            if(registerItem.RegisterLessonSharing!=null
                                && registerItem.RegisterLessonSharing.ShareID!=registerItem.RegisterID)
                            {
                                continue;
                            }
                            <li>
                                <div class="list_tb tb2">
                                    <div class="list_tr">
                                        <div class="list_td hd">
                                            <span class="col-red">@(rc.Title)</span>
                                            @{
                                                switch((Naming.LessonPriceStatus?)priceItem.Status)
                                                {
                                                    case Naming.LessonPriceStatus.營養課程:
                                                        <text>S.D Session《一個月》</text>
                                                        break;
                                                    case Naming.LessonPriceStatus.運動恢復課程:
                                                        <text>S.R Session《@(priceItem.DurationInMinutes)分鐘》</text>
                                                        break;
                                                    case Naming.LessonPriceStatus.運動防護課程:
                                                        <text>A.T Session《@(priceItem.DurationInMinutes)分鐘》</text>
                                                        break;
                                                    default:
                                                        <text>P.T Session《@(priceItem.DurationInMinutes)分鐘》</text>
                                                        break;
                                                }
                                            }
                                        </div>
                                        <div class="list_td rt"><span class="col-red">@(registerItem.RemainedLessonCount())</span> / @(registerItem.Lessons) 堂</div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
