@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (UserProfile)this.Model;

}
@{
    var items = models.GetTable<QuestionnaireRequest>()
            .Where(q => q.GroupID == (int)Naming.QuestionnaireGroup.身體心靈密碼
                    || q.GroupID == (int)Naming.QuestionnaireGroup.滿意度問卷調查_2017)
            .Where(q => q.UID == _model.UID)
            .Where(q => q.Status.HasValue || q.GroupID == (int)Naming.QuestionnaireGroup.滿意度問卷調查_2017)
            .OrderByDescending(q => q.QuestionnaireID)
            .Take(5);
}
<div class="card">
    <div class="panel-group full-body" id="accordion_13" role="tablist" aria-multiselectable="true">
        @{ 
            foreach(var questionnaire in items)
            {
                Html.RenderPartial("~/Views/ConsoleHome/LearnerProfile/LearnerCharacterItem.cshtml", questionnaire);
            }
        }
    </div>
</div>