@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers

@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    BranchStore _model;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (BranchStore)this.Model;
}

@switch (_model.BranchID)
{
    case (int)Naming.BranchName.南京:
        <span class="badge bg-vivid_red"><i class="zmdi zmdi-pin"></i> 南京</span>
        break;
    case (int)Naming.BranchName.忠孝:
        <span class="badge bg-blue"><i class="zmdi zmdi-pin"></i> 忠孝</span>
        break;
    case (int)Naming.BranchName.信義:
        <span class="badge bg-purple"><i class="zmdi zmdi-pin"></i> 信義</span>
        break;
    case (int)Naming.BranchName.東門:
        <span class="badge bg-tiffany"><i class="zmdi zmdi-pin"></i> 東門</span>
        break;
    case (int)Naming.BranchName.遠距:
        <span class="badge bg-green"><i class="zmdi zmdi-pin"></i> 遠距</span>
        break;
    default:
        <span class="badge bg-secondary"><i class="zmdi zmdi-pin"></i> @(_model.BranchName)</span>
        break;

}

