

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@using Utility
@{
    Layout = "~/Views/Common/SelectMonthlyIntervalTemplate.cshtml";
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;

    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;

    String[] _model = (String[])this.Model;

}

@section OtherMenu
{
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-swap"></i> </a>
        <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
            <li><a href="javascript:onBranchSelected();">全部</a></li>
            @foreach (var branch in models.GetTable<BranchStore>())
            {
                <li><a href="javascript:onBranchSelected(@(branch.BranchID));">@(branch.BranchName)</a></li>
            }
        </ul>
    </li>
}