
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;



    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (UserProfile)this.Model;
}

<div class="col-lg-5 col-md-6 col-sm-12">
    <ul class="breadcrumb float-md-right">
        <li class="breadcrumb-item"><a href="@Html.Raw(Url.Action("PaymentIndex","ConsoleHome",new { ScrollToView = false }))"><i class="zmdi zmdi-file-text"></i>&nbsp;我的收款</a></li>
    </ul>
</div>

