
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers

<div class="col-lg-5 col-md-6 col-sm-12">
    <ul class="breadcrumb float-md-right">
        <li class="breadcrumb-item"><a href="@(Url.Action("ContractIndex","ConsoleHome"))"><i class="zmdi zmdi-file-text"></i>&nbsp;我的合約</a></li>
    </ul>
</div>

<script runat="server">

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;

    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);
        _modelState = (ModelStateDictionary)ViewBag.ModelState;
        models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
        _model = (UserProfile)this.Model;
    }


</script>
