
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CoachMonthlySalary _model;
    String _dialogID = $"coachBonus{DateTime.Now.Ticks}";


    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
}

<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="closebutton" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">【主動防疫 全體響應】</h2>
                        <p>為防範「新型冠狀病毒肺炎（武漢肺炎）」，Beyond Fitness全公司即日起將實施下列措施，以保障來店客戶健康。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="images/declaration.png" class="m-t-20">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}
