@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    LessonTime _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (LessonTime)this.Model;
}
@{
    String currentID = $"content{DateTime.Now.Ticks}";
    UserProfile learner = (UserProfile)ViewBag.Learner;
    bool viewOnly = (bool?)ViewBag.ViewOnly == true ? true : false;
}
<div id="@(currentID)" class="sparkline-pie float-right inlineblock">
    @{
        if (viewOnly != true)
        {
            Html.RenderAction("LessonContentDetails", "LessonConsole", new { _model.LessonID, learner.UID });
        }
    }
</div>
@if (viewOnly == true)
{
    <script>
        $(function () {
            setTimeout(function () {
                $global.reloadContentDetails($('#@(currentID)'));
            }, 1000);
        });
    </script>
}
else
{
    <script>
        $(function () {

            function sparkline($current) {
                $current.sparkline('html', {
                    type: "pie",
                    offset: 90,
                    width: "40px",
                    height: "40px",
                    sliceColors: ['rgba(245, 166, 35, .8)', 'rgba(255, 78, 100, .8)', 'rgba(126, 211, 33, .8)', 'rgba(74, 144, 226, .8)', 'rgba(244, 237, 0, .8)']
                });
            }

            $global.reloadContentDetails = function ($current) {
                $current.empty();
                $.post('@Html.Raw(Url.Action("LessonContentDetails", "LessonConsole", new { _model.LessonID, learner.UID }))', {}, function (data) {
                    $current.text(data);
                    sparkline($current);
                });
            };

            sparkline($('#@(currentID)'));
        });

    </script>
}
