@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    LessonTime _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (LessonTime)this.Model;
}
@{
    String currentID = $"content{DateTime.Now.Ticks}";
    UserProfile learner = (UserProfile)ViewBag.Learner;
    bool isModal = (bool?)ViewBag.IsModal == true ? true : false;
}
<div id="@(currentID)" class="sparkline-pie float-right inlineblock">
    @{
        Html.RenderAction("LessonContentDetails", "LessonConsole", new { _model.LessonID, learner.UID });
    }
</div>
@if (isModal == true)
{
    <script>
        $(function () {
            setTimeout(function () {
                sparkline($('#@(currentID)'));
            }, 200);
        });
    </script>
}
else
{
    <script>
        $(function () {

            @*$global.reloadContentDetails = function ($current) {
                $current.empty();
                $.post('@Html.Raw(Url.Action("LessonContentDetails", "LessonConsole", new { _model.LessonID, learner.UID }))', {}, function (data) {
                    $current.text(data);
                    sparkline($current);
                });
            };*@

            sparkline($('#@(currentID)'));
        });

    </script>
}
