
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@section ribbonContent { 
<span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon">
            <i class="far fa-copy"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>合約管理</li>
        <li>合約查詢</li>
    </ol>
    <!-- end breadcrumb --> 
}
@section pageTitle { 
 
}
@section mainContent { 
@{ Html.RenderPartial("~/Views/CourseContract/Module/WidgetGrid.cshtml",_model);}

    @{ Html.RenderPartial("~/Views/Shared/ConfirmationDialog.cshtml");}
 
}

<script runat="server">

    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    DailyBookingQueryViewModel _viewModel;
    UserProfile _model;


    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);
        models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
        _modelState = (ModelStateDictionary)ViewBag.ModelState;
    }


</script>
