/*
 * Version: 2.1
 * File Description: Place here your custom CSS styles
 */

.header {
    background-color: #ffffff;
}

.header .navbar-nav li .nav-link {
    color: #05232d;
    font-size: 14px;
    font-weight: 400;
/*    padding: 20px 15px 27px 15px;*/
}

.site-slogan {
    color: #05232d;
    font-size: 16px;
    font-weight: 800;
    padding: 20px 0 0;
}

.header-dropdown-buttons a.btn-link {
   color: #05232d;
   font-size: 14px;
   font-weight: 800;
   padding-right: 5px;
}

.header-dropdown-buttons a.btn-link2 {
   color: #ffffff;
   font-size: 14px;
   font-weight: 800;
   padding-right: 5px;
}

.navbar-light .navbar-toggler {
    border-color: #05232d;
}

h2.title {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 800;
    text-transform: none;
}

.footer h2.title {
    font-size: 28px;
    text-transform: none;
    margin-bottom: 10px;
    color: #fff;
}

.bg-darkteal {
  background: linear-gradient(#052333, #052333), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)) !important;
  color: #fff
}

.bg-darkteal h1, .bg-darkteal h2, .bg-darkteal h3, .bg-darkteal h4, .bg-darkteal h5, .bg-darkteal h6 {
    color: #ffffff;
}

.darkteal .footer {
  background: linear-gradient(#052333, #052333), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)) !important;
  color: #fff
}

.bg-darkteal h1.title {
    font-size: 38px;
    color: #fd5c63;
}

.bg-darkteal h1 span {
    font-size: 12px;
    color: #fd5c63;
}

.footer .lead {
/*    color: #eee;*/
    font-size: 14px;
    font-weight: 300;
}

.space-top-40 {
  padding-top: 40px;
}

.dark .btn-default {
    color: #ffffff;
    background-color: rgba(71, 93, 242, 0.7);
    border-color: rgba(71, 93, 242, 0.6);
}

.testimonial-image {
    float: left;
}

.margin-clear .float-right {
    float: right;
}

.image-box .body p {
  color: #05232d;
  font-weight: 800;
}

.footer {
    padding: 15px 0;
    background: linear-gradient(#052333, #052333), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)) !important;
}

.dark .navbar .navbar-toggler {
  border-color: #052333;
  background-color: transparent;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width: 767px) {
  .caption-box {
    max-width: 150px !important;
  }

}