
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    LessonTimeBookingViewModel _viewModel;
    String _dialogID = $"pcb{DateTime.Now.Ticks}";
    LessonTime _model;



    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (LessonTime)this.Model;
    _viewModel = (LessonTimeBookingViewModel)ViewBag.ViewModel;
}
<div class="modal modal-mini fade" id="@(_dialogID)" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title">請選擇執行功能</h6>
                <a class="closebutton" data-dismiss="modal"></a>
            </div>
            <div class="modal-popmenu-body">
                <div class="list-group">
                    <a href='javascript:showBarChart(@Html.Raw(JsonConvert.SerializeObject(new { ClassTimeStart = _model.ClassTime.Value.Date })));' class="list-group-item">查看直條圖</a>
                    <a href="javascript:approveLesson('@(_viewModel.KeyID)');" class="list-group-item">待審核</a>
                </div>
            </div>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

    <script>

    </script>
</div>

