

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    UserProfile _model;
    IQueryable<LessonTime> _lessons;

    Layout = "~/Views/ConsoleHome/Template/MainPage.cshtml";


    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _model = (UserProfile)this.Model;

    IQueryable<LessonTime> items = models.GetTable<LessonTime>().FilterByUserRoleScope(models, _model);
    ViewBag.LessonTimeItems = items;

    _lessons = items.PTLesson()
        .Union(items.Where(l => l.TrainingBySelf == 1))
        .Union(items.TrialLesson());

    //items = models.GetTable<LessonTime>().FilterByUserRoleScope(models, _model);
}
@section CustomHeader {
    <!-- JQuery DataTable Css -->
    <link href="plugins/jquery-datatable/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/Responsive-2.2.2/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/FixedColumns-3.2.5/css/fixedColumns.bootstrap4.min.css" rel="stylesheet">
    <!-- charts-c3 -->
    <link href="plugins/charts-c3/plugin.css?2.0" rel="stylesheet" />
}

<!-- Jquery DataTable Plugin Js -->
<script src="bundles/datatablescripts.bundle.js"></script>
<script src="plugins/jquery-datatable/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
<script src="plugins/jquery-datatable/FixedColumns-3.2.5/js/dataTables.fixedColumns.min.js"></script>
<!-- ChartC3 Js -->
<script src="bundles/c3.bundle.js"></script>

<!--Sparkline Plugin Js-->
<script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>

<section class="content">

    @{ ViewBag.BlockHeader = "跨店審核";
        Html.RenderPartial("~/Views/ConsoleHome/Module/BlockHeader.cshtml", _model);}

    <!--清單資料-->
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-12">
                <div class="card patients-list">
                    <div class="body">
                        <div class="table-responsive">
                            @{ Html.RenderPartial("~/Views/LessonConsole/Module/CrossBranchLessonList.cshtml", _model.PreferredLessonTimeToApprove(models));}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>

@section TailPageJavaScriptInclude {
    <script>

        $(function() {
            $.scrollUp({
                animation: 'fade',
                scrollImg: {
                    active: true,
                    type: 'background',
                    src: 'images/top.png'
                }
            });
            //$(".ls-toggle-btn").click();
        });

        function processCrossBranch(keyID) {
            //showLoading();
            $.post('@Html.Raw(Url.Action("ProcessCrossBranch", "LessonConsole"))', { 'keyID': keyID }, function (data) {
                //hideLoading();
                if ($.isPlainObject(data)) {
                    swal(data.message);
                } else {
                    $(data).appendTo($('body'));
                }
            });
        }

        function showBarChart(classDate) {
            //showLoading();
            $.post('@Html.Raw(Url.Action("ShowTodayLessons", "LessonConsole"))', classDate, function (data) {
                //hideLoading();
                if ($.isPlainObject(data)) {
                    swal(data.message);
                } else {
                    $(data).appendTo($('body'));
                }
            });
        }

        //點選審核
        this.approveLesson = function (keyID) {
            deleteData(function (onSuccess) {
                showLoading();
                $.post('@Html.Raw(Url.Action("CommitCrossBranch", "LessonConsole"))', { 'keyID': keyID }, function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            onSuccess();
                        } else {
                            swal(data.message);
                        }
                    } else {
                        $(data).appendTo($('body'));
                    }
                });
            },
                {
                    text: "完成審核後資料將無法回覆!",
                    confirmButtonText: "確定, 審核通過",
                    cancelButtonText: "不, 點錯了",
                    confirmed: ['已審核成功!', '資料已經更新 Bye!', 'success'],
                    cancelled: ['取消成功', '你的資料現在非常安全 :)', 'error'],
                    afterConfirmed: function () {
                        window.location.href='@Html.Raw(Url.Action("CrossBranchIndex","ConsoleHome"))';
                    },
                });
        };

        // MINI LINE CHARTS
        var paramsBar = {
            type: 'bar',
            barWidth: 10,
            barSpacing: 5,
            width: '500px',
            height: '50px',
            barColor: '#18ce0f',
            stackedBarColor: ["#FFC107", "#ba3bd0", "#F15F79"]
        };

    </script>
}


