

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    CourseContract _item;
    UserProfile _model;
    CourseContractQueryViewModel _viewModel;

    Layout = "~/Views/ConsoleHome/Template/MainPage.cshtml";


    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (CourseContractQueryViewModel)ViewBag.ViewModel;
    _item = (CourseContract)ViewBag.DataItem;

}
@section CustomHeader {
    <!-- JQuery DataTable Css -->
    <link href="plugins/jquery-datatable/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/Responsive-2.2.2/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/FixedColumns-3.2.5/css/fixedColumns.bootstrap4.min.css" rel="stylesheet">
    <!-- Bootstrap Datetimepick -->
    @*<link href="plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="css/datetimepicker.css" rel="stylesheet" />*@
    
    <link href="css/smartcalendar-2.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="css/customelist.css?1" />
    <!-- jSignature -->
    <link rel="stylesheet" href="css/jsignature.css">
}

<script>
        $(function () {
            $global.viewModel = @Html.Raw(JsonConvert.SerializeObject(_viewModel));

            for (var i = 0; i < $global.onReady.length; i++) {
                $global.onReady[i]();
            }
        });
</script>
<!-- Main Content -->
<section class="content">
    @{ ViewBag.BlockHeader = "合約終止";
        ViewBag.InsertPartial = "~/Views/ConsoleHome/Shared/MyContractHeader.cshtml";
        Html.RenderPartial("~/Views/ConsoleHome/Module/BlockHeader.cshtml", _model);}

    <div class="container-fluid">
        <div class="card widget_2">
            @{ 
                ViewBag.ApplyServiceModel = _item;
                ViewBag.ApplyService = "~/Views/ContractConsole/ContractService/DoTerminatingContract.cshtml";
                Html.RenderPartial("~/Views/ContractConsole/ContractService/ApplyContractService.cshtml", _item);
            }

        </div>
    </div>

</section>

@section TailPageJavaScriptInclude {
    <!--Sparkline Plugin Js-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="bundles/datatablescripts.bundle.js"></script>
    <script src="plugins/jquery-datatable/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="plugins/jquery-datatable/FixedColumns-3.2.5/js/dataTables.fixedColumns.min.js"></script>

    @{ Html.RenderPartial("~/Views/ConsoleHome/Shared/KnobJS.cshtml");}


    <script type="text/javascript">

    </script>
}


