

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    CourseContractRevision _model;
    String _msg = DateTime.Now.Ticks.ToString();

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (CourseContractRevision)this.Model;
    ViewBag.ScrollUp = false;
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>BEYOND FITNESS 全方位雲端管理</title>
    <!-- Favicon-->
    <link rel="icon" href="favicons/favicon_96x96.png">
    <!-- Specifying a Webpage Icon for Web Clip -->
    <link rel="apple-touch-icon-precomposed" href="favicons/favicon_57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicons/favicon_72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicons/favicon_114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicons/favicon_144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="favicons/favicon_180x180.png">
    <!-- Bootstrap -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" href="css/main.css?2.2">
    <link rel="stylesheet" href="css/color_skins.css?2.2">
    <!-- jSignature -->
    <link rel="stylesheet" href="css/jsignature.css">
    <style type="text/css">
        body {
            background-color: #fff;
        }
    </style>
</head>

<body class="theme-white">
    <!-- Main Content -->
    <section>
        <div class="container-fluid">
            @if (_model.Reason == "展延")
            {
                Html.RenderPartial("~/Views/ContractConsole/ContractService/CourseContractExtensionView.cshtml", _model);
            }
            else if (_model.Reason == "轉讓")
            {
                Html.RenderPartial("~/Views/ContractConsole/ContractService/CourseContractTransferenceView.cshtml", _model);
            }
            else if (_model.Reason == "終止")
            {
                if(_model.OperationMode==(int)Naming.OperationMode.快速終止)
                {
                    Html.RenderPartial("~/Views/ContractConsole/ContractService/CourseContractQuickTerminationView.cshtml", _model);
                }
                else
                {
                    Html.RenderPartial("~/Views/ContractConsole/ContractService/CourseContractTerminationView.cshtml", _model);
                }
            }
            else if (_model.Reason == "轉換體能顧問")
            {
                Html.RenderPartial("~/Views/ContractConsole/ContractService/ContractConsultantReassignmentView.cshtml", _model);
            }
        </div>
    </section>
</body>
</html>

<script>
    var done = false;
    var $signatureImage;
    function signaturePanel(contractID, uid, signatureName) {
        if (done)
            return;
        var event = event || window.event;
        $signatureImage = $(event.target);
        //showLoading();
        $.post('@(Url.Action("SignaturePanel","CourseContract"))', { 'contractID': contractID, 'uid': uid, 'signatureName': signatureName }, function (data) {
            //hideLoading();
            $(data).appendTo($('body'));
        });
    }
</script>


