@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    List<CalendarEventItem> _model;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = ((List<CalendarEventItem>)this.Model).OrderBy(v => v.EventTime).ToList();

    int leftPart = Math.Min(Math.Max((_model.Count() + 1) / 2, 6), _model.Count());
}
@if (leftPart > 0)
{
    <div class="row">
        <div class="col-lg-6 col-md-12">
            @{
                int idx = 0;
                for (; idx < leftPart; idx++)
                {
                    await Html.RenderPartialAsync("~/Views/ConsoleHome/Index/Coach/SingleEventItem.cshtml", _model[idx]);
                }
            }
        </div>
        @if (idx < _model.Count())
        {
            <div class="col-lg-6 col-md-12">
                @for (; idx < _model.Count(); idx++)
                {
                    await Html.RenderPartialAsync("~/Views/ConsoleHome/Index/Coach/SingleEventItem.cshtml", _model[idx]);
                }
            </div>
        }
    </div>
}
else
{
    <div class="body">
        <img src="images/nodata.png">
        <p>沒有資料也是種福氣</p>
    </div>
}

