@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    String _dialogID = $"reportQuery{DateTime.Now.Ticks}";

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    Payment _model = (Payment)this.Model;
}
@{
    ViewBag.HeaderRaw = showHeader(_model);
    ViewBag.InsertPartial = "~/Views/PaymentConsole/PaymentModal/ApplyShareAmount.cshtml";
    ViewBag.SelectAll = false;
    ViewBag.EnableClose = false;
    ViewBag.Allotment = 2;
    ViewBag.AllotmentCoach = 4;
    Html.RenderPartial("~/Views/ContractConsole/ContractModal/SelectCoach.cshtml", models.PromptEffectiveCoach());
}

@helper showHeader(Payment item)
{
    <h2>目前<span class="col-red">剩餘</span>分潤金額：<span class="col-red">@($"{item.PayoffAmount - item.TuitionAchievement.Sum(t=>t.ShareAmount):##,###,###,###}")</span></h2>
}

<script>
    $(function () {
        $global.commitCoach = function (coachID, coachName, $dialog) {
            var amount = $dialog.find('input[name="ShareAmount"]').val();
            if (!isNaN(amount)) {
                clearErrors();
                showLoading();
                $.post('@Html.Raw(Url.Action("CommitToApplyCoachAchievement","Payment",new { KeyID = _model.PaymentID.EncryptKey() }))', { 'coachID': coachID, 'shareAmount': amount }, function (data) {
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            $dialog.modal('hide');
                            showAchievementShareList();
                        } else {
                            hideLoading();
                            swal(data.message);
                        }
                    } else {
                        hideLoading();
                        $(data).appendTo('body').remove();
                    }
                });
            }
        };
    });
</script>