@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using WebHome.Helper.BusinessOperation
@using Newtonsoft.Json

@{
    Layout = "~/Views/ConsoleHome/Index/Coach/Part_1/LessonInfoTemplate.cshtml";
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    UserProfile _model;

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;
    _model = (UserProfile)this.Model;

    LessonOverviewQueryViewModel viewModel = new LessonOverviewQueryViewModel
    {
        CoachID = _model.UID,
        Year = DateTime.Today.Year,
        Month = DateTime.Today.Month,
    };
    ViewBag.ViewModel = viewModel;

    var items = viewModel.InquireLesson(models);
    ViewBag.DataItems = items;

}

@section Part_1
{
    <div class="icon" onclick="javascript: showCoachAchievement();"><i class="zmdi zmdi-shield-check"></i> </div>
    <div class="content" onclick="javascript: showCoachAchievement();">
        <div class="text">
            @{
                await Html.RenderPartialAsync("~/Views/ConsoleHome/Index/Coach/Part_1/ProfessionInfo.cshtml", _model);
            }
        </div>
        <h5 class="number">
            <a href="javascript:void(0);">@(_model.ServingCoach.CoachCertificate.Count)</a>
            <span class="font-6">證照</span>
        </h5>
        @if (_model.IsOfficer())
        {
            <script>
                function showCoachAchievement() {
                }
            </script>
        }
        else
        {
            <script>
                function showCoachAchievement() {
                    var viewModel = {};
                    viewModel.ByManager = false;
                    viewModel.KeyID = '@(_model.UID.EncryptKey())';
                    showLoading();
                    $('').launchDownload('@Html.Raw(Url.Action("CoachAchievement","ConsoleHome"))', viewModel);
                }
            </script>
        }

    </div>

}


