.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
    right: auto;
    color: #4a4a4a;
}

.datetimepicker th.prev,
.datetimepicker th.next,
.datetimepicker th.switch {
    background: #05232d;
    color: #fff;
}

.datetimepicker th:hover.prev,
.datetimepicker th:hover.next,
.datetimepicker th:hover.switch {
    color: #05232d;
}