/*Overright 外掛套件 royalSlider*/
.royalSlider {
	width: 100%;
	-webkit-perspective: 500px;
	perspective: 500px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 #DCDCDC;    
}

.rsDefault .rsOverflow {
	height: 400px !important;
	border-radius: 4px;
}

.parallax-img-card .rsTextSlide h3 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	margin: 0;
	letter-spacing: 3px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}

.rsTextSlide .valign-wrapper {
	margin: 150px 0;
}

img.rsImg {
	object-fit: cover;
	width: 100%;
}

/*Overright 外掛套件 royalSlider*/

.rsClass {
	background: #fff;
	color: #000;    
}

/*Overright 外掛套件royalSlider - rsDefault*/

.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
	background: #fff;
	color: #000;    
}

.rsDefault .rsTabs {
    position: absolute;
    bottom: 20px;
}

.rsDefault .rsTmb {
    font-weight: 800;
}

/*Overright 外掛套件royalSlider - rsDefault*/