div.datedropper.dd-red {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-red .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-red .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-red:before,div.datedropper.dd-red .pick-submit,div.datedropper.dd-red .pick-lg-b .pick-sl:before,div.datedropper.dd-red .pick-m,div.datedropper.dd-red .pick-lg-h {
    background-color: #f44336
}

div.datedropper.dd-red .pick-y.pick-jump,div.datedropper.dd-red .pick li span,div.datedropper.dd-red .pick-lg-b .pick-wke,div.datedropper.dd-red .pick-btn {
    color: #f44336
}

div.datedropper.dd-red .picker,div.datedropper.dd-red .pick-l {
    background-color: #FFF
}

div.datedropper.dd-red .picker,div.datedropper.dd-red .pick-arw,div.datedropper.dd-red .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-red .pick-m,div.datedropper.dd-red .pick-m .pick-arw,div.datedropper.dd-red .pick-lg-h,div.datedropper.dd-red .pick-lg-b .pick-sl,div.datedropper.dd-red .pick-submit {
    color: #FFF
}

div.datedropper.dd-red.picker-tiny:before,div.datedropper.dd-red.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-red.picker-tiny .pick-m,div.datedropper.dd-red.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-red.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-pink {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-pink .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-pink .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-pink:before,div.datedropper.dd-pink .pick-submit,div.datedropper.dd-pink .pick-lg-b .pick-sl:before,div.datedropper.dd-pink .pick-m,div.datedropper.dd-pink .pick-lg-h {
    background-color: #e91e63
}

div.datedropper.dd-pink .pick-y.pick-jump,div.datedropper.dd-pink .pick li span,div.datedropper.dd-pink .pick-lg-b .pick-wke,div.datedropper.dd-pink .pick-btn {
    color: #e91e63
}

div.datedropper.dd-pink .picker,div.datedropper.dd-pink .pick-l {
    background-color: #FFF
}

div.datedropper.dd-pink .picker,div.datedropper.dd-pink .pick-arw,div.datedropper.dd-pink .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-pink .pick-m,div.datedropper.dd-pink .pick-m .pick-arw,div.datedropper.dd-pink .pick-lg-h,div.datedropper.dd-pink .pick-lg-b .pick-sl,div.datedropper.dd-pink .pick-submit {
    color: #FFF
}

div.datedropper.dd-pink.picker-tiny:before,div.datedropper.dd-pink.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-pink.picker-tiny .pick-m,div.datedropper.dd-pink.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-pink.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-purple {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-purple .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-purple .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-purple:before,div.datedropper.dd-purple .pick-submit,div.datedropper.dd-purple .pick-lg-b .pick-sl:before,div.datedropper.dd-purple .pick-m,div.datedropper.dd-purple .pick-lg-h {
    background-color: #9c27b0
}

div.datedropper.dd-purple .pick-y.pick-jump,div.datedropper.dd-purple .pick li span,div.datedropper.dd-purple .pick-lg-b .pick-wke,div.datedropper.dd-purple .pick-btn {
    color: #9c27b0
}

div.datedropper.dd-purple .picker,div.datedropper.dd-purple .pick-l {
    background-color: #FFF
}

div.datedropper.dd-purple .picker,div.datedropper.dd-purple .pick-arw,div.datedropper.dd-purple .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-purple .pick-m,div.datedropper.dd-purple .pick-m .pick-arw,div.datedropper.dd-purple .pick-lg-h,div.datedropper.dd-purple .pick-lg-b .pick-sl,div.datedropper.dd-purple .pick-submit {
    color: #FFF
}

div.datedropper.dd-purple.picker-tiny:before,div.datedropper.dd-purple.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-purple.picker-tiny .pick-m,div.datedropper.dd-purple.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-purple.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-deep-purple {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-deep-purple .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-deep-purple .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-deep-purple:before,div.datedropper.dd-deep-purple .pick-submit,div.datedropper.dd-deep-purple .pick-lg-b .pick-sl:before,div.datedropper.dd-deep-purple .pick-m,div.datedropper.dd-deep-purple .pick-lg-h {
    background-color: #673ab7
}

div.datedropper.dd-deep-purple .pick-y.pick-jump,div.datedropper.dd-deep-purple .pick li span,div.datedropper.dd-deep-purple .pick-lg-b .pick-wke,div.datedropper.dd-deep-purple .pick-btn {
    color: #673ab7
}

div.datedropper.dd-deep-purple .picker,div.datedropper.dd-deep-purple .pick-l {
    background-color: #FFF
}

div.datedropper.dd-deep-purple .picker,div.datedropper.dd-deep-purple .pick-arw,div.datedropper.dd-deep-purple .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-deep-purple .pick-m,div.datedropper.dd-deep-purple .pick-m .pick-arw,div.datedropper.dd-deep-purple .pick-lg-h,div.datedropper.dd-deep-purple .pick-lg-b .pick-sl,div.datedropper.dd-deep-purple .pick-submit {
    color: #FFF
}

div.datedropper.dd-deep-purple.picker-tiny:before,div.datedropper.dd-deep-purple.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-deep-purple.picker-tiny .pick-m,div.datedropper.dd-deep-purple.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-deep-purple.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-indigo {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-indigo .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-indigo .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-indigo:before,div.datedropper.dd-indigo .pick-submit,div.datedropper.dd-indigo .pick-lg-b .pick-sl:before,div.datedropper.dd-indigo .pick-m,div.datedropper.dd-indigo .pick-lg-h {
    background-color: #3f51b5
}

div.datedropper.dd-indigo .pick-y.pick-jump,div.datedropper.dd-indigo .pick li span,div.datedropper.dd-indigo .pick-lg-b .pick-wke,div.datedropper.dd-indigo .pick-btn {
    color: #3f51b5
}

div.datedropper.dd-indigo .picker,div.datedropper.dd-indigo .pick-l {
    background-color: #FFF
}

div.datedropper.dd-indigo .picker,div.datedropper.dd-indigo .pick-arw,div.datedropper.dd-indigo .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-indigo .pick-m,div.datedropper.dd-indigo .pick-m .pick-arw,div.datedropper.dd-indigo .pick-lg-h,div.datedropper.dd-indigo .pick-lg-b .pick-sl,div.datedropper.dd-indigo .pick-submit {
    color: #FFF
}

div.datedropper.dd-indigo.picker-tiny:before,div.datedropper.dd-indigo.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-indigo.picker-tiny .pick-m,div.datedropper.dd-indigo.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-indigo.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-blue {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-blue .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-blue .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-blue:before,div.datedropper.dd-blue .pick-submit,div.datedropper.dd-blue .pick-lg-b .pick-sl:before,div.datedropper.dd-blue .pick-m,div.datedropper.dd-blue .pick-lg-h {
    background-color: #2196f3
}

div.datedropper.dd-blue .pick-y.pick-jump,div.datedropper.dd-blue .pick li span,div.datedropper.dd-blue .pick-lg-b .pick-wke,div.datedropper.dd-blue .pick-btn {
    color: #2196f3
}

div.datedropper.dd-blue .picker,div.datedropper.dd-blue .pick-l {
    background-color: #FFF
}

div.datedropper.dd-blue .picker,div.datedropper.dd-blue .pick-arw,div.datedropper.dd-blue .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-blue .pick-m,div.datedropper.dd-blue .pick-m .pick-arw,div.datedropper.dd-blue .pick-lg-h,div.datedropper.dd-blue .pick-lg-b .pick-sl,div.datedropper.dd-blue .pick-submit {
    color: #FFF
}

div.datedropper.dd-blue.picker-tiny:before,div.datedropper.dd-blue.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-blue.picker-tiny .pick-m,div.datedropper.dd-blue.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-blue.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-light-blue {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-light-blue .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-light-blue .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-light-blue:before,div.datedropper.dd-light-blue .pick-submit,div.datedropper.dd-light-blue .pick-lg-b .pick-sl:before,div.datedropper.dd-light-blue .pick-m,div.datedropper.dd-light-blue .pick-lg-h {
    background-color: #03a9f4
}

div.datedropper.dd-light-blue .pick-y.pick-jump,div.datedropper.dd-light-blue .pick li span,div.datedropper.dd-light-blue .pick-lg-b .pick-wke,div.datedropper.dd-light-blue .pick-btn {
    color: #03a9f4
}

div.datedropper.dd-light-blue .picker,div.datedropper.dd-light-blue .pick-l {
    background-color: #FFF
}

div.datedropper.dd-light-blue .picker,div.datedropper.dd-light-blue .pick-arw,div.datedropper.dd-light-blue .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-light-blue .pick-m,div.datedropper.dd-light-blue .pick-m .pick-arw,div.datedropper.dd-light-blue .pick-lg-h,div.datedropper.dd-light-blue .pick-lg-b .pick-sl,div.datedropper.dd-light-blue .pick-submit {
    color: #FFF
}

div.datedropper.dd-light-blue.picker-tiny:before,div.datedropper.dd-light-blue.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-light-blue.picker-tiny .pick-m,div.datedropper.dd-light-blue.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-light-blue.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-cyan {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-cyan .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-cyan .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-cyan:before,div.datedropper.dd-cyan .pick-submit,div.datedropper.dd-cyan .pick-lg-b .pick-sl:before,div.datedropper.dd-cyan .pick-m,div.datedropper.dd-cyan .pick-lg-h {
    background-color: #00bcd4
}

div.datedropper.dd-cyan .pick-y.pick-jump,div.datedropper.dd-cyan .pick li span,div.datedropper.dd-cyan .pick-lg-b .pick-wke,div.datedropper.dd-cyan .pick-btn {
    color: #00bcd4
}

div.datedropper.dd-cyan .picker,div.datedropper.dd-cyan .pick-l {
    background-color: #FFF
}

div.datedropper.dd-cyan .picker,div.datedropper.dd-cyan .pick-arw,div.datedropper.dd-cyan .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-cyan .pick-m,div.datedropper.dd-cyan .pick-m .pick-arw,div.datedropper.dd-cyan .pick-lg-h,div.datedropper.dd-cyan .pick-lg-b .pick-sl,div.datedropper.dd-cyan .pick-submit {
    color: #FFF
}

div.datedropper.dd-cyan.picker-tiny:before,div.datedropper.dd-cyan.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-cyan.picker-tiny .pick-m,div.datedropper.dd-cyan.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-cyan.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-teal {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-teal .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-teal .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-teal:before,div.datedropper.dd-teal .pick-submit,div.datedropper.dd-teal .pick-lg-b .pick-sl:before,div.datedropper.dd-teal .pick-m,div.datedropper.dd-teal .pick-lg-h {
    background-color: #009688
}

div.datedropper.dd-teal .pick-y.pick-jump,div.datedropper.dd-teal .pick li span,div.datedropper.dd-teal .pick-lg-b .pick-wke,div.datedropper.dd-teal .pick-btn {
    color: #009688
}

div.datedropper.dd-teal .picker,div.datedropper.dd-teal .pick-l {
    background-color: #FFF
}

div.datedropper.dd-teal .picker,div.datedropper.dd-teal .pick-arw,div.datedropper.dd-teal .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-teal .pick-m,div.datedropper.dd-teal .pick-m .pick-arw,div.datedropper.dd-teal .pick-lg-h,div.datedropper.dd-teal .pick-lg-b .pick-sl,div.datedropper.dd-teal .pick-submit {
    color: #FFF
}

div.datedropper.dd-teal.picker-tiny:before,div.datedropper.dd-teal.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-teal.picker-tiny .pick-m,div.datedropper.dd-teal.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-teal.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-green {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-green .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-green .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-green:before,div.datedropper.dd-green .pick-submit,div.datedropper.dd-green .pick-lg-b .pick-sl:before,div.datedropper.dd-green .pick-m,div.datedropper.dd-green .pick-lg-h {
    background-color: #4caf50
}

div.datedropper.dd-green .pick-y.pick-jump,div.datedropper.dd-green .pick li span,div.datedropper.dd-green .pick-lg-b .pick-wke,div.datedropper.dd-green .pick-btn {
    color: #4caf50
}

div.datedropper.dd-green .picker,div.datedropper.dd-green .pick-l {
    background-color: #FFF
}

div.datedropper.dd-green .picker,div.datedropper.dd-green .pick-arw,div.datedropper.dd-green .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-green .pick-m,div.datedropper.dd-green .pick-m .pick-arw,div.datedropper.dd-green .pick-lg-h,div.datedropper.dd-green .pick-lg-b .pick-sl,div.datedropper.dd-green .pick-submit {
    color: #FFF
}

div.datedropper.dd-green.picker-tiny:before,div.datedropper.dd-green.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-green.picker-tiny .pick-m,div.datedropper.dd-green.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-green.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-light-green {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-light-green .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-light-green .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-light-green:before,div.datedropper.dd-light-green .pick-submit,div.datedropper.dd-light-green .pick-lg-b .pick-sl:before,div.datedropper.dd-light-green .pick-m,div.datedropper.dd-light-green .pick-lg-h {
    background-color: #8bc34a
}

div.datedropper.dd-light-green .pick-y.pick-jump,div.datedropper.dd-light-green .pick li span,div.datedropper.dd-light-green .pick-lg-b .pick-wke,div.datedropper.dd-light-green .pick-btn {
    color: #8bc34a
}

div.datedropper.dd-light-green .picker,div.datedropper.dd-light-green .pick-l {
    background-color: #FFF
}

div.datedropper.dd-light-green .picker,div.datedropper.dd-light-green .pick-arw,div.datedropper.dd-light-green .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-light-green .pick-m,div.datedropper.dd-light-green .pick-m .pick-arw,div.datedropper.dd-light-green .pick-lg-h,div.datedropper.dd-light-green .pick-lg-b .pick-sl,div.datedropper.dd-light-green .pick-submit {
    color: #FFF
}

div.datedropper.dd-light-green.picker-tiny:before,div.datedropper.dd-light-green.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-light-green.picker-tiny .pick-m,div.datedropper.dd-light-green.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-light-green.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-lime {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-lime .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-lime .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-lime:before,div.datedropper.dd-lime .pick-submit,div.datedropper.dd-lime .pick-lg-b .pick-sl:before,div.datedropper.dd-lime .pick-m,div.datedropper.dd-lime .pick-lg-h {
    background-color: #cddc39
}

div.datedropper.dd-lime .pick-y.pick-jump,div.datedropper.dd-lime .pick li span,div.datedropper.dd-lime .pick-lg-b .pick-wke,div.datedropper.dd-lime .pick-btn {
    color: #cddc39
}

div.datedropper.dd-lime .picker,div.datedropper.dd-lime .pick-l {
    background-color: #FFF
}

div.datedropper.dd-lime .picker,div.datedropper.dd-lime .pick-arw,div.datedropper.dd-lime .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-lime .pick-m,div.datedropper.dd-lime .pick-m .pick-arw,div.datedropper.dd-lime .pick-lg-h,div.datedropper.dd-lime .pick-lg-b .pick-sl,div.datedropper.dd-lime .pick-submit {
    color: #FFF
}

div.datedropper.dd-lime.picker-tiny:before,div.datedropper.dd-lime.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-lime.picker-tiny .pick-m,div.datedropper.dd-lime.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-lime.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-yellow {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-yellow .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-yellow .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-yellow:before,div.datedropper.dd-yellow .pick-submit,div.datedropper.dd-yellow .pick-lg-b .pick-sl:before,div.datedropper.dd-yellow .pick-m,div.datedropper.dd-yellow .pick-lg-h {
    background-color: #ffeb3b
}

div.datedropper.dd-yellow .pick-y.pick-jump,div.datedropper.dd-yellow .pick li span,div.datedropper.dd-yellow .pick-lg-b .pick-wke,div.datedropper.dd-yellow .pick-btn {
    color: #ffeb3b
}

div.datedropper.dd-yellow .picker,div.datedropper.dd-yellow .pick-l {
    background-color: #FFF
}

div.datedropper.dd-yellow .picker,div.datedropper.dd-yellow .pick-arw,div.datedropper.dd-yellow .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-yellow .pick-m,div.datedropper.dd-yellow .pick-m .pick-arw,div.datedropper.dd-yellow .pick-lg-h,div.datedropper.dd-yellow .pick-lg-b .pick-sl,div.datedropper.dd-yellow .pick-submit {
    color: #FFF
}

div.datedropper.dd-yellow.picker-tiny:before,div.datedropper.dd-yellow.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-yellow.picker-tiny .pick-m,div.datedropper.dd-yellow.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-yellow.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-amber {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-amber .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-amber .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-amber:before,div.datedropper.dd-amber .pick-submit,div.datedropper.dd-amber .pick-lg-b .pick-sl:before,div.datedropper.dd-amber .pick-m,div.datedropper.dd-amber .pick-lg-h {
    background-color: #ffc107
}

div.datedropper.dd-amber .pick-y.pick-jump,div.datedropper.dd-amber .pick li span,div.datedropper.dd-amber .pick-lg-b .pick-wke,div.datedropper.dd-amber .pick-btn {
    color: #ffc107
}

div.datedropper.dd-amber .picker,div.datedropper.dd-amber .pick-l {
    background-color: #FFF
}

div.datedropper.dd-amber .picker,div.datedropper.dd-amber .pick-arw,div.datedropper.dd-amber .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-amber .pick-m,div.datedropper.dd-amber .pick-m .pick-arw,div.datedropper.dd-amber .pick-lg-h,div.datedropper.dd-amber .pick-lg-b .pick-sl,div.datedropper.dd-amber .pick-submit {
    color: #FFF
}

div.datedropper.dd-amber.picker-tiny:before,div.datedropper.dd-amber.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-amber.picker-tiny .pick-m,div.datedropper.dd-amber.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-amber.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-orange {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-orange .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-orange .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-orange:before,div.datedropper.dd-orange .pick-submit,div.datedropper.dd-orange .pick-lg-b .pick-sl:before,div.datedropper.dd-orange .pick-m,div.datedropper.dd-orange .pick-lg-h {
    background-color: #ff9800
}

div.datedropper.dd-orange .pick-y.pick-jump,div.datedropper.dd-orange .pick li span,div.datedropper.dd-orange .pick-lg-b .pick-wke,div.datedropper.dd-orange .pick-btn {
    color: #ff9800
}

div.datedropper.dd-orange .picker,div.datedropper.dd-orange .pick-l {
    background-color: #FFF
}

div.datedropper.dd-orange .picker,div.datedropper.dd-orange .pick-arw,div.datedropper.dd-orange .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-orange .pick-m,div.datedropper.dd-orange .pick-m .pick-arw,div.datedropper.dd-orange .pick-lg-h,div.datedropper.dd-orange .pick-lg-b .pick-sl,div.datedropper.dd-orange .pick-submit {
    color: #FFF
}

div.datedropper.dd-orange.picker-tiny:before,div.datedropper.dd-orange.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-orange.picker-tiny .pick-m,div.datedropper.dd-orange.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-orange.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-deep-orange {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-deep-orange .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-deep-orange .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-deep-orange:before,div.datedropper.dd-deep-orange .pick-submit,div.datedropper.dd-deep-orange .pick-lg-b .pick-sl:before,div.datedropper.dd-deep-orange .pick-m,div.datedropper.dd-deep-orange .pick-lg-h {
    background-color: #ff5722
}

div.datedropper.dd-deep-orange .pick-y.pick-jump,div.datedropper.dd-deep-orange .pick li span,div.datedropper.dd-deep-orange .pick-lg-b .pick-wke,div.datedropper.dd-deep-orange .pick-btn {
    color: #ff5722
}

div.datedropper.dd-deep-orange .picker,div.datedropper.dd-deep-orange .pick-l {
    background-color: #FFF
}

div.datedropper.dd-deep-orange .picker,div.datedropper.dd-deep-orange .pick-arw,div.datedropper.dd-deep-orange .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-deep-orange .pick-m,div.datedropper.dd-deep-orange .pick-m .pick-arw,div.datedropper.dd-deep-orange .pick-lg-h,div.datedropper.dd-deep-orange .pick-lg-b .pick-sl,div.datedropper.dd-deep-orange .pick-submit {
    color: #FFF
}

div.datedropper.dd-deep-orange.picker-tiny:before,div.datedropper.dd-deep-orange.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-deep-orange.picker-tiny .pick-m,div.datedropper.dd-deep-orange.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-deep-orange.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-brown {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-brown .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-brown .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-brown:before,div.datedropper.dd-brown .pick-submit,div.datedropper.dd-brown .pick-lg-b .pick-sl:before,div.datedropper.dd-brown .pick-m,div.datedropper.dd-brown .pick-lg-h {
    background-color: #795548
}

div.datedropper.dd-brown .pick-y.pick-jump,div.datedropper.dd-brown .pick li span,div.datedropper.dd-brown .pick-lg-b .pick-wke,div.datedropper.dd-brown .pick-btn {
    color: #795548
}

div.datedropper.dd-brown .picker,div.datedropper.dd-brown .pick-l {
    background-color: #FFF
}

div.datedropper.dd-brown .picker,div.datedropper.dd-brown .pick-arw,div.datedropper.dd-brown .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-brown .pick-m,div.datedropper.dd-brown .pick-m .pick-arw,div.datedropper.dd-brown .pick-lg-h,div.datedropper.dd-brown .pick-lg-b .pick-sl,div.datedropper.dd-brown .pick-submit {
    color: #FFF
}

div.datedropper.dd-brown.picker-tiny:before,div.datedropper.dd-brown.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-brown.picker-tiny .pick-m,div.datedropper.dd-brown.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-brown.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-grey {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-grey .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-grey .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-grey:before,div.datedropper.dd-grey .pick-submit,div.datedropper.dd-grey .pick-lg-b .pick-sl:before,div.datedropper.dd-grey .pick-m,div.datedropper.dd-grey .pick-lg-h {
    background-color: #9e9e9e
}

div.datedropper.dd-grey .pick-y.pick-jump,div.datedropper.dd-grey .pick li span,div.datedropper.dd-grey .pick-lg-b .pick-wke,div.datedropper.dd-grey .pick-btn {
    color: #9e9e9e
}

div.datedropper.dd-grey .picker,div.datedropper.dd-grey .pick-l {
    background-color: #FFF
}

div.datedropper.dd-grey .picker,div.datedropper.dd-grey .pick-arw,div.datedropper.dd-grey .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-grey .pick-m,div.datedropper.dd-grey .pick-m .pick-arw,div.datedropper.dd-grey .pick-lg-h,div.datedropper.dd-grey .pick-lg-b .pick-sl,div.datedropper.dd-grey .pick-submit {
    color: #FFF
}

div.datedropper.dd-grey.picker-tiny:before,div.datedropper.dd-grey.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-grey.picker-tiny .pick-m,div.datedropper.dd-grey.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-grey.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-blue-grey {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-blue-grey .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-blue-grey .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-blue-grey:before,div.datedropper.dd-blue-grey .pick-submit,div.datedropper.dd-blue-grey .pick-lg-b .pick-sl:before,div.datedropper.dd-blue-grey .pick-m,div.datedropper.dd-blue-grey .pick-lg-h {
    background-color: #607d8b
}

div.datedropper.dd-blue-grey .pick-y.pick-jump,div.datedropper.dd-blue-grey .pick li span,div.datedropper.dd-blue-grey .pick-lg-b .pick-wke,div.datedropper.dd-blue-grey .pick-btn {
    color: #607d8b
}

div.datedropper.dd-blue-grey .picker,div.datedropper.dd-blue-grey .pick-l {
    background-color: #FFF
}

div.datedropper.dd-blue-grey .picker,div.datedropper.dd-blue-grey .pick-arw,div.datedropper.dd-blue-grey .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-blue-grey .pick-m,div.datedropper.dd-blue-grey .pick-m .pick-arw,div.datedropper.dd-blue-grey .pick-lg-h,div.datedropper.dd-blue-grey .pick-lg-b .pick-sl,div.datedropper.dd-blue-grey .pick-submit {
    color: #FFF
}

div.datedropper.dd-blue-grey.picker-tiny:before,div.datedropper.dd-blue-grey.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-blue-grey.picker-tiny .pick-m,div.datedropper.dd-blue-grey.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-blue-grey.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-navy-blue {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-navy-blue .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-navy-blue .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-navy-blue:before,div.datedropper.dd-navy-blue .pick-submit,div.datedropper.dd-navy-blue .pick-lg-b .pick-sl:before,div.datedropper.dd-navy-blue .pick-m,div.datedropper.dd-navy-blue .pick-lg-h {
    background-color: #0061d2
}

div.datedropper.dd-navy-blue .pick-y.pick-jump,div.datedropper.dd-navy-blue .pick li span,div.datedropper.dd-navy-blue .pick-lg-b .pick-wke,div.datedropper.dd-navy-blue .pick-btn {
    color: #0061d2
}

div.datedropper.dd-navy-blue .picker,div.datedropper.dd-navy-blue .pick-l {
    background-color: #FFF
}

div.datedropper.dd-navy-blue .picker,div.datedropper.dd-navy-blue .pick-arw,div.datedropper.dd-navy-blue .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-navy-blue .pick-m,div.datedropper.dd-navy-blue .pick-m .pick-arw,div.datedropper.dd-navy-blue .pick-lg-h,div.datedropper.dd-navy-blue .pick-lg-b .pick-sl,div.datedropper.dd-navy-blue .pick-submit {
    color: #FFF
}

div.datedropper.dd-navy-blue.picker-tiny:before,div.datedropper.dd-navy-blue.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-navy-blue.picker-tiny .pick-m,div.datedropper.dd-navy-blue.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-navy-blue.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}

div.datedropper.dd-wild-watermelon {
    border-radius: 8px;
    width: 180px
}

div.datedropper.dd-wild-watermelon .picker {
    border-radius: 8px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.2)
}

div.datedropper.dd-wild-watermelon .pick-l {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

div.datedropper.dd-wild-watermelon:before,div.datedropper.dd-wild-watermelon .pick-submit,div.datedropper.dd-wild-watermelon .pick-lg-b .pick-sl:before,div.datedropper.dd-wild-watermelon .pick-m,div.datedropper.dd-wild-watermelon .pick-lg-h {
    background-color: #fd5c63
}

div.datedropper.dd-wild-watermelon .pick-y.pick-jump,div.datedropper.dd-wild-watermelon .pick li span,div.datedropper.dd-wild-watermelon .pick-lg-b .pick-wke,div.datedropper.dd-wild-watermelon .pick-btn {
    color: #fd5c63
}

div.datedropper.dd-wild-watermelon .picker,div.datedropper.dd-wild-watermelon .pick-l {
    background-color: #FFF
}

div.datedropper.dd-wild-watermelon .picker,div.datedropper.dd-wild-watermelon .pick-arw,div.datedropper.dd-wild-watermelon .pick-l {
    color: #4D4D4D
}

div.datedropper.dd-wild-watermelon .pick-m,div.datedropper.dd-wild-watermelon .pick-m .pick-arw,div.datedropper.dd-wild-watermelon .pick-lg-h,div.datedropper.dd-wild-watermelon .pick-lg-b .pick-sl,div.datedropper.dd-wild-watermelon .pick-submit {
    color: #FFF
}

div.datedropper.dd-wild-watermelon.picker-tiny:before,div.datedropper.dd-wild-watermelon.picker-tiny .pick-m {
    background-color: #FFF
}

div.datedropper.dd-wild-watermelon.picker-tiny .pick-m,div.datedropper.dd-wild-watermelon.picker-tiny .pick-m .pick-arw {
    color: #4D4D4D
}

div.datedropper.dd-wild-watermelon.picker-lkd .pick-submit {
    background-color: #FFF;
    color: #4D4D4D
}