@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
}
<div class="col-sm-6 col-6">
    <div class="input-group">
        <input type="text" class="form-control month" data-date-format="yyyy/mm" readonly="readonly" placeholder="查詢月份" />
        <span class="input-group-addon xl-slategray">
            <i class="zmdi zmdi-time"></i>
        </span>
    </div>
    <script>
        $(function () {
            $('.month').datetimepicker({
                language: "zh-TW",
                weekStart: 1,
                todayBtn: 0,
                clearBtn: 1,
                autoclose: 1,
                todayHighlight: true,
                startView: 3,
                minView: 3,
                defaultView: 2,
                forceParse: 0,
                endDate: new Date(),
                autoclose: true
            });
        });
    </script>
</div>

