
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding


@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;
    LessonTimeBookingViewModel _viewModel;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (UserProfile)this.Model;
    _viewModel = (LessonTimeBookingViewModel)ViewBag.ViewModel;
}

<div class="container-fluid">
    <div class="row clearfix">
        <h4 class="card-outbound-header m-l-15">每週分店一覽</h4>
        <div class="col-lg-12 col-md-12">
            <div class="row clearfix">
                <div class="col-12">
                    <div class="card">
                        <div class="header">
                            <h2 id="branchNameWeekly">
                                @{
                                    <a href="#lessonSummary" onclick="inquireWeeklyBarChart('@($"{DateTime.Today:yyyy-MM-dd}")',event);" class="btn btn-simple btn-sm inquireWeekly disabled">今</a>
                                }
                                <input type="text" class="btn btn-simple btn-sm inquireWeekly" data-date-format="yyyy/mm/dd" readonly="readonly" value="" size="12" placeholder="自選日期..." />
                                @{
                                    ViewBag.Other = "全部";
                                    await Html.RenderPartialAsync("~/Views/Common/BranchStoreWithOther.cshtml", models.GetTable<BranchStore>().Where(b => b.BranchID == _viewModel.BranchID).FirstOrDefault());
                                }
                            </h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-swap"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                        <li><a href="#lessonSummary" onclick="inquireLessonsBarChartWeekly();">全部</a></li>
                                        @foreach (var b in models.GetTable<BranchStore>())
                                        {
                                            <li><a href="#lessonSummary" onclick="inquireLessonsBarChartWeekly(@(b.BranchID));">@(b.BranchName)</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-12 col-12">
                                    @{
                                        ViewBag.ChartID = "lessonsAxisChart";
                                        await Html.RenderPartialAsync("~/Views/ConsoleHome/Module/WeeklyLessonAxisChart.cshtml", _model);
                                    }
                                </div>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                var $input = $('input.inquireWeekly');
                                $input.datetimepicker({
                                    language: 'zh-TW',
                                    format: 'yyyy/mm/dd',
                                    defaultDate: new Date(),
                                    weekStart: 1,
                                    todayBtn: 1,
                                    clearBtn: 1,
                                    autoclose: 1,
                                    todayHighlight: 1,
                                    startView: 2,
                                    minView: 2,
                                    defaultView: 2,
                                    forceParse: 0,
                                }).on('changeDate', function (ev) {
                                    $('a.inquireWeekly').removeClass('disabled');
                                    $global.viewModel.ClassTimeStart = $input.val();
                                    drawLessonsBarChartWeekly();
                                });

                            });
                            function inquireLessonsBarChartWeekly(branchID) {
                                var event = event || window.event;
                                var branchName = $(event.target).text();
                                $global.viewModel.BranchID = branchID;
                                $global.viewModel.BranchName = branchName;
                                drawLessonsBarChartWeekly();
                                showBranchStore($('#branchNameWeekly'));
                            }

                            function inquireWeeklyBarChart(daily, event) {
                                var event = event || window.event;
                                $('a.inquireWeekly').removeClass('disabled');
                                $(event.target).addClass('disabled');
                                $global.viewModel.ClassTimeStart = daily;
                                drawLessonsBarChartWeekly();
                            }

                            function drawLessonsBarChartWeekly() {
                                $global.viewModel.chartType = 'Echart';
                                showLoading();
                                $.post('@Url.Action("WeeklyLessonsBarChart", "ConsoleHome")', $global.viewModel, function (data) {
                                    hideLoading();
                                    if ($.isPlainObject(data)) {
                                        alert(data.message);
                                    } else {
                                        $(data).appendTo($('body'));
                                    }
                                });
                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


