
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{ var monthStart = DateTime.Today.FirstDayOfMonth();}
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    IQueryable<LessonTime> _learnerLessons;
    UserProfile _model;
    int _allotment;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (UserProfile)this.Model;
    _allotment = ((int?)ViewBag.Allotment) ?? 2;

    IQueryable<LessonTime> items = ViewBag.LessonTimeItems as IQueryable<LessonTime>;
    _learnerLessons = items.PTLesson()
        .Union(items.Where(l => l.TrainingBySelf == 1));

}

<li class="@($"col-sm-{12 / _allotment} col-{12 / _allotment} calendar-todolist")">
    <div class="body">
        <i class="zmdi livicon-evo" data-options="name: remove.svg; size: 40px; style: original; strokeWidth:2px; autoPlay:true"></i>
        <h4>
            @(_learnerLessons.Where(l => l.ClassTime >= monthStart && l.ClassTime < monthStart.AddMonths(1))
                    .GetLearnerUncheckedLessons().Count())
    </h4>
    <span>本月未打卡</span>
</div>
</li>




