
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserEvent _model;
    CalendarEventQueryViewModel _viewModel;
    String _dialogID = $"userEvent{DateTime.Now.Ticks}";
    UserProfile _profile;

    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (UserEvent)this.Model;
    _viewModel = (CalendarEventQueryViewModel)ViewBag.ViewModel;
    _profile = await Context.GetUserAsync();

}
<div class="modal fade" id="@(_dialogID)" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title">請選擇預約項目</h6>
                <a class="closebutton" data-dismiss="modal"></a>
            </div>
            <div class="modal-popmenu-body">
                <div class="list-group">
                    <div class="list-group-item input-group m-b-0">
                        <input type="text" class="form-control searchLearner xl-aliceblue" name="userName" placeholder="搜尋學生..." />
                        <span class="input-group-addon cursor xl-aliceblue" onclick="searchLearner($('.searchLearner').val());">
                            <i class="zmdi zmdi-search"></i>
                        </span>
                    </div>
                    @if (_profile.IsCoach())
                    {
                        <a href="javascript:bookingCoachPI();" class="list-group-item">教練 P.I</a>
                    }
                    <a href="javascript:bookingCustomEvent({ 'startDate':'@($"{_viewModel.StartDate:yyyy-MM-dd HH:mm:ss}")' });" class="list-group-item">個人行事曆</a>
                </div>
            </div>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("~/Views/ConsoleHome/Shared/BSModalScript.cshtml", model: _dialogID);}

<script>
        $('#@(_dialogID) .searchLearner').keypress(function (event) {
            var event = event || window.event;
            var userName = $(event.target).val();
             var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                searchLearner(userName);
            }
        });

        function searchLearner(param) {
            clearErrors();
            if (param.length < 2) {
                    Swal.fire(
                        'Oops...',
                        '你忘了學生的姓名嗎？!(至少2個中、英文字)',
                        'warning'
                    ) 
                } else {
                    showLoading();
                $.post('@Html.Raw(Url.Action("AttendeeSelector", "ConsoleEvent", new { _viewModel.StartDate }))', { 'userName': param }, function (data) {
                        hideLoading();
                        if ($.isPlainObject(data)) {
                            if (data.result) {
                                Swal.fire(
                                    'Oops...',
                                    data.message,
                                    'warning'
                                )
                            } else {
                                Swal.fire(
                                    'Oops...',
                                    '模糊搜尋不到相關資料!(姓名/暱稱/電話號碼)',
                                    'warning'
                                )                                
                            }
                        } else {
                            $(data).appendTo($('body'));
                        }
                    });
                }
        }

        function bookingCoachPI() {
            showLoading();
            $.post('@Html.Raw(Url.Action("BookingCoachPI", "ConsoleEvent", new { ClassDate = _viewModel.StartDate }))', {}, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    Swal.fire(
                        'Oops...',
                        data.message,
                        'warning'
                    )
                } else {
                    $(data).appendTo($('body'));
                }
            });
        }
</script>
</div>



