
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;


    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
}
<!-- ui-dialog -->
<div id="forgetPasswdDialog" title="忘記密碼" class="bg-color-darken">
    <div class="panel panel-default bg-color-darken">
        @{ Html.RenderPartial("~/Views/Account/Module/ForgetPasswordForm.cshtml");}

    </div>
    <!-- dialog-message -->
    <script>
        $('#forgetPasswdDialog').dialog({
            //autoOpen: false,
            resizable: true,
            modal: true,
            width: "auto",
            height: "auto",
            title: "<h4 class='modal-title'><i class='fa fa-fw fa-key'></i>  忘記密碼</h4>",
            close: function (event, ui) {
                $('#forgetPasswdDialog').remove();
            }
        });
    </script>
</div>
<!-- ui-dialog -->
