
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    RegisterViewModel _viewModel;


    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _viewModel = (RegisterViewModel)ViewBag.ViewModel;

}
<!-- ui-dialog -->
<div id="registerByMailDialog" title="會員註冊" class="bg-color-darken">
    <div class="panel panel-default bg-color-darken">
        @{ ViewBag.FormAction = Url.Action("CompleteRegister", "Html", new { MemberCode = _viewModel.MemberCode });
            Html.RenderPartial("~/Views/Account/Module/RegisterByMailForm.cshtml");}

    </div>
    <script>

        $('#regesterDialog').dialog('close');

        $('#registerByMailDialog').dialog({
            //autoOpen: false,
            resizable: true,
            modal: true,
            width: "100%",
            height: "auto",
            title: "<h4 class='modal-title'><i class='fa fa-fw fa-user-circle'></i>  會員註冊</h4>",
            close: function (event, ui) {
                $('#registerByMailDialog').remove();
            }
        });

        $('#btnSend').on('click', function (evt) {

            var form = $(this)[0].form;
            if (!validateForm(form))
                return false;

            setLockPattern();

            showLoading();
            $($(this)[0].form).ajaxSubmit({
                success: function (data) {
                    hideLoading();
                    console.log(data);
                    $(data).appendTo($('body'));
                }
            });
        });

        $(function () {
            initLockScreen();
        });

    </script>
</div>



