@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    IQueryable<Payment> _model;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _model = (IQueryable<Payment>)this.Model;
}
@{
    UserProfile _profile = Context.GetUser();
    PaymentQueryViewModel _viewModel = (PaymentQueryViewModel)ViewBag.ViewModel;
    _viewModel.RelatedID = _profile.UID;
    ViewBag.ViewModel = _viewModel;
    IQueryable<Payment> items = _model.Where(p => p.HandlerID == _profile.UID)
                                    .Union(_model.Where(p => p.ContractPayment.CourseContract.FitnessConsultant == _profile.UID))
                                    .Union(_model.Where(p => p.TuitionInstallment.IntuitionCharge.RegisterLesson.LessonTime.Any(l => l.AttendingCoach == _profile.UID)));

}
<div class="container-fluid">
    <div class="card">
        @if (_profile.IsSysAdmin() || _profile.IsAssistant() || _profile.IsServitor())
        {
        <div class="header">
            <ul class="header-dropdown">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-shopping-cart-plus"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                        <li><a href="@Html.Raw(Url.Action("EditPaymentForPISession","ConsoleHome"))">收款 - P.I sesson</a></li>
                        <li><a href="@Html.Raw(Url.Action("EditPaymentForShopping","ConsoleHome"))">收款 - 食飲品</a></li>
                        <li><a href="@Html.Raw(Url.Action("EditPaymentForShopping","ConsoleHome",new { TransactionType = (int)Naming.PaymentTransactionType.運動商品}))">收款 - 運動商品</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        }
        <ul class="row clearfix list-unstyled m-b-0 widget_3">
            <li class="col-lg-4 col-md-4 col-sm-12">
                <div class="body">
                    <div class="row">
                        @{
                            Html.RenderPartial("~/Views/PaymentConsole/Module/PaymentForPT.cshtml", items);
                        }
                    </div>
                </div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-12">
                <div class="body">
                    <div class="row">
                        @{
                            Html.RenderPartial("~/Views/PaymentConsole/Module/PaymentForPI.cshtml", items);
                        }
                    </div>
                </div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-12">
                <div class="body">
                    <div class="row">
                        @{
                            Html.RenderPartial("~/Views/PaymentConsole/Module/PaymentForOthers.cshtml", items);
                        }
                    </div>
                </div>
            </li>
            <li class="col-lg-6 col-md-6 col-sm-12">
                <div class="body">
                    <div class="row">
                        @{
                            Html.RenderPartial("~/Views/PaymentConsole/Module/CurrentMonthPayment.cshtml", items);
                        }
                    </div>
                </div>
            </li>
            @if (_profile.IsCoach())
            {
                <li class="col-lg-6 col-md-6 col-sm-12">
                    <div class="body">
                        <div class="row">
                            @{
                                Html.RenderPartial("~/Views/PaymentConsole/Module/CurrentMonthAchievementShare.cshtml", _model);
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
