

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Newtonsoft.Json
@using Utility
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    PaymentViewModel _viewModel;

    models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _viewModel = (PaymentViewModel)ViewBag.ViewModel;
}
@{
    UserProfile _profile = Context.GetUser();
}
<h2><strong>結帳櫃檯</strong></h2>
<div class="table-responsive">
    <table class="table table-black table-hover m-b-0">
        <thead>
            <tr>
                <th>品項</th>
                <th class="text-right">單價</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>P.I Session</td>
                <td class="text-right">@(_viewModel.PayoffAmount)</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>總計：</td>
                <td class="text-danger text-right">
                    <h6 id="payoffAmount">TWD @(_viewModel.PayoffAmount)</h6>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row clearfix m-t-20">
    <div class="col-12">
        <select class="form-control show-tick" name="PaymentType">
            <option value="">-- 請選擇收款方式 --</option>
            <option value="現金">現金</option>
            <option value="刷卡">刷卡</option>
            <option value="轉帳">轉帳</option>
        </select>
    </div>
    <div class="col-12">
        <div class="input-group">
            <input type="text" class="form-control" name="BuyerReceiptNo" placeholder="買受人統編" />
            <span class="input-group-addon">
                <i class="zmdi zmdi-text-format"></i>
            </span>
        </div>
    </div>
    <div class="col-12 eInvoice-dialog">
        <div class="input-group">
            <input type="text" class="form-control" name="CarrierId1" placeholder="手機載具條碼，例：/17T448Q" value="@(_viewModel.CarrierId1)" />
            <span class="input-group-addon">
                <i class="zmdi zmdi-money-box"></i>
            </span>
        </div>
    </div>
    <div class="col-12 eInvoice-dialog">
        <dv>
            <input type="hidden" name="errorMessage" />
        </dv>
    </div>
    <div class="col-12">
        <div class="input-group">
            <textarea rows="3" class="form-control no-resize" name="Remark" placeholder="請輸入任何想補充的事項..."></textarea>
        </div>
    </div>
</div>
<button class="subscribe btn btn-primary btn-block" type="button" onclick="commitPayoff();"> 確定，不後悔  </button>
<script>
    $(function () {
        $global.viewModel = @Html.Raw(_viewModel.JsonStringify());
        $('select[name="PaymentType"]').selectpicker('refresh');
    });
</script>
