
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
<input type="text" class="form-control" placeholder="合約編號" name="contractNo" />
<span class="input-group-addon">
    <i class="zmdi zmdi-search"></i>
</span>
<script>
    $(function () {
        var queryObj = @(_dialogID);
        queryObj.appendCheck(function (inputData) {
            return inputData.contractNo !== '';
        });
    });
</script>

<script runat="server">

    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    String _dialogID ;

    protected override void OnInit(EventArgs e)
    {
        base.OnInit(e);
        _modelState = (ModelStateDictionary)ViewBag.ModelState;
        models = ((SampleController<UserProfile>)ViewContext.Controller).DataSource;
        _dialogID = this.Model as String;
    }


</script>
