@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<UserProfile> models;
    UserProfile _model;
    _modelState = ViewContext.ModelState;
    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _model = (UserProfile)this.Model;
}
@{
    var payment = models.PromptIncomePayment()
              .FilterByUserRoleScope(models, _model);
}
<div class="body">
    <div class="row">
        @{
            await Html.RenderPartialAsync("~/Views/PaymentConsole/Module/TodayPayment.cshtml", payment);
        }
    </div>
</div>
<script>
        function showPaymentList(viewModel) {
            var event = window.event;
            if (event) {
                event.cancelBubble = true;
                if ($(event.target).text() == '0') {
                    return false;
                }
            }

            $('').launchDownload('@Html.Raw(Url.Action("InquirePaymentIndex", "ConsoleHome"))', viewModel);
        }

</script>