

@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Newtonsoft.Json
@{
    ModelSource<UserProfile> models;
    ModelStateDictionary _modelState;
    UserProfile _model;
    PaymentQueryViewModel _viewModel;

    Layout = "~/Views/ConsoleHome/Template/MainPage.cshtml";

    models = (ModelSource<UserProfile>)ViewContext.HttpContext.Items["Models"];;
    _modelState = ViewContext.ModelState;
    _model = (UserProfile)this.Model;
    _viewModel = (PaymentQueryViewModel)ViewBag.ViewModel;
    _viewModel.PayoffDate = DateTime.Now;
    if(!_viewModel.TransactionType.HasValue)
    {
        _viewModel.TransactionType = (int)Naming.PaymentTransactionType.食飲品;
    }
    _viewModel.InvoiceType = Naming.InvoiceTypeDefinition.一般稅額計算之電子發票;
    _viewModel.SellerID = models.GetTable<V_WorkPlace>().Where(w => w.CoachID == _model.UID)
            .Select(w => w.WorkPlace).FirstOrDefault();
}
@{
    UserProfile _profile = _model;
}
@section CustomHeader {
    <!-- JQuery DataTable Css -->
    <link href="plugins/jquery-datatable/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/Responsive-2.2.2/css/responsive.bootstrap4.min.css" rel="stylesheet">
    <link href="plugins/jquery-datatable/FixedColumns-3.2.5/css/fixedColumns.bootstrap4.min.css" rel="stylesheet">
    <!-- Bootstrap Datetimepick -->

    <link href="css/smartcalendar-2.css" rel="stylesheet" />
    <!-- Inbox -->
    <link href="css/inbox.css" rel="stylesheet">
    <!-- Custom Css -->
    <link rel="stylesheet" href="css/customelist.css?2" />
    <link rel="stylesheet" href="css/ecommerce.css">
}

<!-- Main Content -->
<section class="content">
    @{
        ViewBag.BlockHeader = "編輯收款";
        ViewBag.InsertPartial = "~/Views/ConsoleHome/Shared/MyPaymentHeader.cshtml";
        await Html.RenderPartialAsync("~/Views/ConsoleHome/Module/BlockHeader.cshtml", _model);
    }

    <!--合約詳細資料&收款資料-->
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12">
                    @{
                        await Html.RenderPartialAsync("~/Views/PaymentConsole/Module/MerchandiseForSale.cshtml");
                    }
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 bg-darkteal">
                    <div class="body">
                        @{
                            Payment item = models.GetTable<Payment>().Where(p => p.PaymentID == _viewModel.PaymentID).FirstOrDefault();
                            await Html.RenderPartialAsync("~/Views/PaymentConsole/Module/EditPaymentForShopping.cshtml", item);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section TailPageJavaScriptInclude {
    <!--Sparkline Plugin Js-->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="bundles/datatablescripts.bundle.js"></script>
    <script src="plugins/jquery-datatable/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="plugins/jquery-datatable/FixedColumns-3.2.5/js/dataTables.fixedColumns.min.js"></script>
    <script src="js/linq.min.js"></script>

    @{ await Html.RenderPartialAsync("~/Views/ConsoleHome/Shared/KnobJS.cshtml");}


}


